<form class="revo-form" name="form" ng-submit="vm.register()" role="form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': form.first_name.$dirty && form.first_name.$error.required }">
                <label for="email">First name</label>
                <input type="text" name="first_name" id="first_name" class="form-control" ng-model="first_name" required />
                <span ng-show="form.first_name.$dirty && form.first_name.$error.required" class="help-block">First name is required</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': form.last_name.$dirty && form.last_name.$error.required }">
                <label for="email">Last name</label>
                <input type="text" name="last_name" id="Text1" class="form-control" ng-model="last_name" required />
                <span ng-show="form.last_name.$dirty && form.last_name.$error.required" class="help-block">Last name is required</span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control" ng-model="email" required />
        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.mobile.$dirty && form.mobile.$error.required }">
        <label for="mobile">Mobile</label>
        <input
                type="number"
                name="mobile"
                id="mobile"
                class="form-control"
                ng-model="mobile"
                required/>
        <span
                ng-show="form.mobile.$dirty && form.mobile.$error.required"
                class="help-block">
            Mobile is required
        </span>
    </div>


    <div class="row" ng-hide="!show_register_from && guestMode">
        <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input
                        type="password"
                        name="password"
                        id="password"
                        class="form-control"
                        ng-model="password"
                        ng-required="(show_register_from || !guestMode)" />
                <span
                        ng-show="form.password.$dirty && form.password.$error.required && show_register_from"
                        class="help-block">Password is required
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': form.confirmation_password.$dirty && form.confirmation_password.$error.required}">
                <label for="confirmation_password">Confirm Password</label>
                <input
                        type="password"
                        name="confirmation_password"
                        id="confirmation_password"
                        class="form-control"
                        ng-model="confirmation_password"
                        ng-required="(show_register_from || !guestMode)"
                        ui-validate=" '(($value==password) && (show_register_from || !guestMode)) || (!show_register_from && guestMode)' "
                        ui-validate-watch=" 'password' "
                />
                <span
                        ng-show="form.confirmation_password.$dirty && form.confirmation_password.$error.required && show_register_from"
                        class="help-block">
                    Please confirm password
                </span>
                <span
                        ng-show="form.confirmation_password.$dirty  && (confirmation_password != password) && (show_register_from  || !guestMode)"
                        class="help-block">
                    Password don't match
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 revo-button-div">
            <label class="revo-label"> <input type="checkbox" class="revo-checkbox" ng-model="receive_promotions"> Please deselect the checkbox if you don't wish to receive<br> our occasional promotions emails.</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 revo-button-div" >
            <div class="form-actions" ng-show="(show_register_from && guestMode)">
                <button type="submit" class="btn btn-success revo-button" ng-click="form.$valid && register()"> Register</button>
                <button class="btn btn-warning revo-button" ng-click="show_register_from = false">Cancel</button>
            </div>
            <div class="form-actions" ng-show="(!show_register_from && guestMode)">
                <button type="submit" class="btn btn-primary revo-button" ng-click="form.$valid && register()">Continue as guest</button>
            </div>
            <button type="button" class="btn btn-success revo-button" ng-click="show_register_from = true" ng-show="(!show_register_from && guestMode)">
                Register
            </button>
        </div>
    </div>
    <div class="form-actions" ng-hide="guestMode">
        <button type="submit" class="btn btn-success revo-button" ng-click="form.$valid && register()">Register</button>
        <button ui-sref="{{cancelState}}"  class="btn btn-warning revo-button" ng-click="show_register_from = false">Cancel</button>
    </div>
    <div>
        <div class="col-md-12">
            <div class="form-group">
                <span class="help-block">{{error_message}}</span>
            </div>
        </div>
    </div>
</form>


