<div class="w-section home-hero" id="homeHero">
    <div class="w-slider home-slider" >
        <div class="w-embed videobackground">
            <div class="videoContainer"
                 style="position:absolute; height:100%; width:100%;overflow:hidden; z-index: -1;">
                <video autoplay="" loop="" style="min-width:100%; min-height: 100%;">
                    <source src="videos/legs_landing_page.mp4">
                    <source src=" " type="application/mp4">
                </video>
            </div>
        </div>
        <div class="w-slider-mask videobackgroundmask">
            <div class="w-slide videoslide">
                <div class="home-slide-overlay">
                    <div class="w-container home-slide-container">
                        <div class="slider-text-block">
                            <h2 class="home-slide-title">the new waxing experience!</h2>
                            <h2 class="home-slide-title _2">Banishing the need for bravery&nbsp;</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="w-slider-arrow-left slider-button-left" data-ix="hide-left-arrow">-->
        <!--<div class="w-icon-slider-left slider-arrow-icon"></div>-->
        <!--</div>-->
        <!--<div class="w-slider-arrow-right slider-button-right" data-ix="hide-right-arrow">-->
        <!--<div class="w-icon-slider-right slider-arrow-icon"></div>-->
        <!--</div>-->
        <div class="w-slider-nav w-round w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny home-slider-navigation"></div>
    </div>
</div>