<nav class="navbar landingtopnav" id="landingtopnav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
            <div class="hidden-md hidden-lg hidden-sm" ng-click="toggle_top_nav()" style="float: right">
                <a class="toggleMenuText" href="javascript:void(0)"  ng-class = "{menuOpen: !is_collapsed}">Menu</a>
            </div>

            <a class="navbar-brand revo-logo" ui-sref="app.landing">REVO</a>
            <a class="navbar-brand" ui-sref="app.landing">WAX</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" uib-collapse="is_collapsed">
            <ul class="nav navbar-nav navbar-right" ng-class = "{menuListOpen: !is_collapsed}">
                <li><a href="index.html#/app/landing#whyrevowax" ng-hide="user_data.isLoggedIn">Our Wax</a></li>
                <li><a href="index.html#/app/landing#OurStory" ng-hide="user_data.isLoggedIn">The Story</a></li>
                <li><a href="index.html#/app/landing#OurPrices" ng-hide="user_data.isLoggedIn">Prices</a></li>
                <!--<li ng-class="{ active: isActive('/booking/create')}"><a ui-sref="app.profile">The Salon</a></li>-->
                <!--<li ng-hide="ACTIVATE_TREATWELL" style="cursor: pointer;" ng-class="{ active: isActive('/booking/create')}"><a ng-click="GoToBooking()" >Book Now</a></li>-->
                <!--<li ng-show="ACTIVATE_TREATWELL" style="cursor: pointer;" ><a href='https://www.treatwell.co.uk/' onclick='wahanda.openOnlineBookingWidget("https://widget.treatwell.co.uk/place/287708/menu/"); return false;' target="_blank">Book Now</a></li>-->
                <!--<li ng-hide="ACTIVATE_TREATWELL" ng-class="{ active: isActive('/booking/create')}" ng-hide="user_data.isLoggedIn"><a ui-sref="app.account.register">Register</a></li>-->
                <!--<li ng-hide="ACTIVATE_TREATWELL" ng-class="{ active: isActive('/booking/create')}" ng-hide="user_data.isLoggedIn"><a ui-sref="app.account.login">Log In</a></li>-->
                <!--<li ng-class="{ active: isActive('/app/agenda')}" ng-show="((user_data.isLoggedIn) && (user_data.userType == 'S'))">-->
                <!--<a ui-sref="app.agenda">Salon Management</a>-->
                <!--&lt;!&ndash;<li class="dropdown" ng-show="((userDetails.isLoggedIn) && (userDetails.userType == 'S'))">&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Salon Management<span class="caret"></span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a ui-sref="app.booking.stage1">New Booking</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a ui-sref="app.agenda">Agenda</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a ui-sref="app.agenda">Profile</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a ui-sref="app.agenda">Staff</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a ui-sref="app.agenda">Services</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a ui-sref="app.agenda">Customers</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--</li>-->
                <!--<li class="dropdown" ng-hide="!user_data.isLoggedIn">-->
                <!--<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a ui-sref="app.account.details">Personal Details</a></li>-->
                <!--<li><a ui-sref="app.account.bookings">Appointments</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="javascript:void(0)" ng-click="LogOut()">Log Out</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>