<div class="w-section section tint">
    <div class="w-container container">
        <div class="w-row _2-column-row">
            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 w-hidden-tiny image-column-left lower">
                <div class="w-row" >
                    <a href="https://twitter.com/revowax">
                        <div class="w-col w-col-6"><img class="socialmediaimage" src="images/Twitter.png">
                        </div>
                    </a>
                    <div hidden class="w-col w-col-6"><img class="socialmediaimage" src="images/GooglePlus.png">
                    </div>
                </div>
                <div class="w-row" >
                    <div hidden class="w-col w-col-6"><img class="socialmediaimage" src="images/Instagram.png">
                    </div>
                    <a href="https://www.facebook.com/Revowax/" >
                        <div class="w-col w-col-6"><img class="socialmediaimage" src="images/Facebook.png" >
                        </div>
                    </a>

                </div>
            </div>
            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 text-column-right">
                <h2 class="column-title" >share your experience</h2>

                <p>At Revo Wax we are all about you. Tell us what you liked about your
                    treatment, so we can make it even better the next time we see you.</p>
            </div>
        </div>
    </div>
</div>