<div class="w-section footer">
    <div class="w-container container">
        <div class="w-row services-row">
            <div class="w-col w-col-3 service-column">
                <div class="footer-icon-circle"><img src="images/Icon-phone.png">
                </div>
                <h4>Call us</h4>

                <p><strong>Call us on:</strong>
                    <br><a class="link white" href="tel:">0203 633 2203<br></a>
                </p>
            </div>
            <div class="w-col w-col-3 service-column">
                <div class="footer-icon-circle"><img src="images/Icon-whatsapp.png">
                </div>
                <h4>text&nbsp;US</h4>

                <p><strong>WhatsApp or SMS</strong>
                    <br><a class="link white" href="tel:">0203 633 2203</a>
                </p>
            </div>
            <div class="w-col w-col-3 service-column">
                <div class="footer-icon-circle"><img src="images/Icon-mail.png">
                </div>
                <h4>new_email us</h4>

                <p><strong>You can always reach us at:</strong>
                    <br><a class="link white">hello@revowax.com</a>
                </p>
            </div>
            <div class="w-col w-col-3 service-column">
                <div class="footer-icon-circle"><img src="images/Icon-group.png">
                </div>
                <h4>Social Media&nbsp;</h4>
                <p>Find us on <a href="https://www.facebook.com/Revowax/" class="link white">Facebook</a> and <a class="link white" href="https://twitter.com/revowax">Twitter</a>&nbsp;</p>
            </div>
        </div>
    </div>
</div>