<div class="w-section home-section whyrevowax" id="whyrevowax">
    <div class="w-container container" ><img
            class="w-hidden-medium w-hidden-small w-hidden-tiny intro-image" src="images/WomanNoBackGround.png">

        <h2 class="column-title">&nbsp;WHY REVOWAX</h2>

        <div class="w-row feature-row">
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="w-clearfix feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-man.png">
                    <div class="list-item-white-title">Water Soluble</div>
                    <p>No more rinsing with chemicals, our wax is completely water soluble. Resulting in no stickiness</p>
                </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-music.png">

                    <div class="list-item-white-title">Nourishingly good</div>
                    <p>Our special formula is enriched with fine oils along with vitamins E, A and K known to nourish and rejuvenate your skin.</p>
                </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-photos.png">

                    <div class="list-item-white-title">Minimises discomfort</div>
                    <p> Revo was developed to minimise trauma and discomfort by not adhering to the wet, live skin cells.  </p>
                </div>
            </div>
        </div>
        <div class="w-row feature-row">
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="w-clearfix feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-screen.png">
                    <div class="list-item-white-title">Minimises redness</div>
                    <p>Revo was developed to adhere to just the dead skin cells, avoiding redness and providing exfoliation</p>
                </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-home.png">

                    <div class="list-item-white-title">Trained beauticians</div>
                    <p>Every beautician that joins our team undergoes extensive training on real models.</p>
                </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="w-clearfix feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-mic.png">
                    <div class="list-item-white-title">love RevoWax</div>
                    <p>Many of our customers have perceived it to be less painful and have reduced after stinging.</p>
                </div>
            </div>
        </div>
    </div>
</div>