<div class="w-section section home-intro" id="3StepTreatment">
    <div class="w-container home-container centered">
        <h2 class="white-section-title" >a 3 step treatment</h2>
    </div>
    <div class="w-container feature-container">
        <div class="w-row intro-features">
            <div class="w-col w-col-4 feature-column"><img class="service-icon"
                                                           src="images/Linecons-thewaiter_1.png">

                <div class="service-title">1. clean</div>
                <div class="service-title subtitle">pre wax SKIN&nbsp;treament</div>
            </div>
            <div class="w-col w-col-4 feature-column"><img class="service-icon"
                                                           src="images/Icon-music.png">

                <div class="service-title">2. remove</div>
                <div class="service-title subtitle">hair removal</div>
            </div>
            <div class="w-col w-col-4 feature-column" ><img class="service-icon"
                                                            src="images/Linecons-drinks.png">

                <div class="service-title">3. nourish</div>
                <div class="service-title subtitle">post wax skin treatment</div>
            </div>
        </div>
    </div>
</div>