<div class="fixed-buttons-bottom-right">
    <a ng-show="ACTIVATE_TREATWELL" class="w-inline-block fixed-button" style="cursor: pointer;" href='https://www.treatwell.co.uk/' onclick='wahanda.openOnlineBookingWidget("https://widget.treatwell.co.uk/place/287708/menu/"); return false;' target="_blank">
        <div  class="fixed-button-title" >BOOK NOW</div>
    </a>
    <a ng-hide="ACTIVATE_TREATWELL" class="w-inline-block fixed-button" style="cursor: pointer;"
       ng-click="nav_to_booking()">
        <div class="fixed-button-title">BOOK NOW</div>
    </a>
</div>