<nav class="navbar navbar-fixed-top fixedlandingnav" id="fixedlandingnav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand revo-logo" ui-sref="app.landing">REVO</a>
            <a class="navbar-brand" ui-sref="app.landing">WAX</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html#/app/landing#whyrevowax" ng-hide="user_data.isLoggedIn">Our Wax</a></li>
                <li><a href="index.html#/app/landing#OurStory" ng-hide="user_data.isLoggedIn">The Story</a></li>
                <li><a href="index.html#/app/landing#OurPrices" ng-hide="user_data.isLoggedIn">Prices</a></li>
                <li ng-class="{ active: isActive('/booking/create')}"><a ui-sref="app.profile">The Salon</a></li>
                <li style="cursor: pointer;" ng-class="{ active: isActive('/booking/create')}"><a
                        ng-click="GoToBooking()">Book Now</a></li>
                <li ng-class="{ active: isActive('/booking/create')}" ng-hide="user_data.isLoggedIn"><a
                        ui-sref="app.account.register">Register</a></li>
                <li ng-class="{ active: isActive('/booking/create')}" ng-hide="user_data.isLoggedIn"><a
                        ui-sref="app.account.login">Log In</a></li>
                <li ng-class="{ active: isActive('/app/agenda')}"
                    ng-show="((user_data.isLoggedIn) && (user_data.userType == 'S'))">
                    <a ui-sref="app.agenda">Salon Management</a>
                    <!--<li class="dropdown" ng-show="((userDetails.isLoggedIn) && (userDetails.userType == 'S'))">-->
                    <!--<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Salon Management<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a ui-sref="app.booking.stage1">New Booking</a></li>-->
                    <!--<li><a ui-sref="app.agenda">Agenda</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a ui-sref="app.agenda">Profile</a></li>-->
                    <!--<li><a ui-sref="app.agenda">Staff</a></li>-->
                    <!--<li><a ui-sref="app.agenda">Services</a></li>-->
                    <!--<li><a ui-sref="app.agenda">Customers</a></li>-->
                    <!--</ul>-->
                </li>
                <li class="dropdown" ng-hide="!user_data.isLoggedIn">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="app.account.details">Personal Details</a></li>
                        <li><a ui-sref="app.account.appointments">Appointments</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" ng-click="LogOut()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>