<div class="w-section image-section" >
    <div class="image-section-overlay">
        <div class="w-container">
            <div class="w-row" >
                <div class="w-col w-col-3 w-col-small-6 stats-col">
                    <!--<div class="icon-block">-->
                    <!--<div class="stat-title">SPECIAL</div>-->
                    <!--<div class="stat-title description">FORMULA</div>-->
                    <!--&lt;!&ndash;<a class="link stats-link" href="#">Learn more</a>&ndash;&gt;-->
                    <!--</div>-->
                </div>
                <div class="w-col w-col-3 w-col-small-6 stats-col">
                    <div class="icon-block">
                        <div class="stat-title">100%</div>
                        <div class="stat-title description">NATURAL</div>
                        <!--<a class="link stats-link" href="#">Learn more</a>-->
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-small-6 stats-col">
                    <div class="icon-block">
                        <div class="stat-title">100%</div>
                        <div class="stat-title description">WATER SOLUBLE</div>
                        <!--<a class="link stats-link" href="#">Learn more</a>-->
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-small-6 stats-col">
                    <!--<div class="icon-block">-->
                    <!--<div class="stat-title">VITAMINS</div>-->
                    <!--<div class="stat-title description">E, A and K</div>-->
                    <!--&lt;!&ndash;<a class="link stats-link" href="#">Learn more</a>&ndash;&gt;-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>