<div class="w-section home-section ourstory" id="OurStory">
    <div class="w-container container" >
        <h2 class="column-title" >Our story</h2>

        <div class="feature-wrapper">
            <p>RevoWax is the new 100% natural, water soluble wax, designed to soothe pain. Our special formula is enriched with fine oils along with vitamins E, A and K known to nourish and rejuvenate your skin.</p>
            <p>Revo was developed to minimise trauma and discomfort to your skin. We have achieved this by making the wax water soluble, resulting in the wax not adhering to the wet, live skin cells but only to dry dead cells. This process protects your skin, avoids redness and provides exfoliation and no stickiness. </p>
            <p>Your skin will love RevoWax. Just like the many of our customers who have perceived it to be far Less Painful, with reduced after stinging and a long lasting regrowth.</p>
            <p>Say Hello to REVOWAX!</p>
        </div>
    </div>
</div>
<div class="w-section image-background-section">
    <div class="background-image-section-overlay">
        <div class="w-container container">
            <div class="w-row _2-column-row">
                <div class="w-col w-col-7 text-column-left">
                    <h2 class="column-title">our story</h2>

                    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros
                        dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id
                        rutrum lorem imperdiet.</p><a class="button" href="#contact" data-ix="open-popup">CONTACT US</a>
                </div>
                <div class="w-col w-col-5 w-hidden-small w-hidden-tiny"></div>
            </div>
        </div>
    </div>
</div>
