<div class="w-container home-container">
    <label class="confirmation-title">Booking Confirmed</label>
    <div class="w-row">
        <div class="w-col w-col-6 ">
            <h4>Price: &pound{{total_price}}</h4>
        </div>
        <div class="w-col w-col-6 ">
            <h4>Time: {{start_date | date:'h:mma'}}</h4>
        </div>
    </div>
    <div class="w-row">
        <div class="w-col w-col-6 ">
            <h4>Location: Kingscross</h4>
        </div>
        <div class="w-col w-col-6 cen" >
            <h4>Date: {{start_date | date:'dd/MM/yyyy'}}</h4>
        </div>
    </div>
    <div class="w-row">
        <div class="w-col w-col-12 ">
            <p class="white-text">Thank you for booking. A confirmation new_email has been sent to {{new_email}}</p>
            <p class="white-text">You can ammend or cancel your booking upto 24 hours before via online or over the phone. </p>
        </div>
    </div>
    <div class="w-row centered" ng-show="logged_in">
        <div class="w-col w-col-12 centred">
            <button type="button" id="bookButton" class="btn btn-success" ui-sref="app.customer.bookings" >
                Your Bookings
            </button>
        </div>
    </div>
</div>
