<div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
</div>
<div class="modal-body">
    {{text}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>