<div class="w-container home-container">
    <label class="column-title white forher">Select Services</label>
    <booking-select-services shop="booking_ctl.shop" next="app.manager.booking_select_slot"></booking-select-services>
</div>