<div class="w-container home-container">
    <booking-overview shop="booking_ctl.shop"
                    redirect="app.manager.booking_select_services"
                    success="app.manager.booking_confirmation"
                    error="app.manager.booking_problem">
    </booking-overview>
</div>
