<div class="w-container home-container">
    <label class="column-title white forher">Book your Appointment:</label>
    <div class="w-tabs menu-tabs">
        <div class="w-tab-menu drink-tabs-menu" data-w-tab="Wijnen">
            <div ng-repeat="category in booking_data">
                <div class="column-title white forher">{{category.category_name}}...</div>
                <div ng-repeat="subcategory in category.subcategories">
                    <a class="{{subcategory.subcategory_css_class}}" ng-click="subCategoryClickHandler(category.category_num, subcategory.subcategory_num)">
                        <div class="tab-title">{{subcategory.subcategory_name}}</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-tab-content w-clearfix tabcontentservices">
            <div ng-repeat="category in booking_data">
                <div  ng-repeat="subcategory in category.subcategories" ng-if="subcategory.subcategory_selected">
                    <div class="drinks-tab-pane">
                        <div class="w-list-unstyled menu-list">
                            <ul class="w-list-unstyled menu-list" >
                                <li ng-class="service.service_css_class" class="" ng-repeat="service in subcategory.services" ng-click="serviceClickHandler(category.category_num, subcategory.subcategory_num, service.service_num )" >
                                    <div class="menu-price">£{{service.service_price}}</div>
                                    <div class="menu-title">{{service.service_name}}</div>
                                    <div class="menu-title description">{{service.service_duration}} mins</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label class="column-title white forher"> Services chosen:  </label>
    <div class="w-list-unstyled menu-list">
        <ul class="w-list-unstyled menu-list" >
            <li class="" ng-repeat="service in chosen_services" >
                <div class="menu-price">£{{service.service_price}}</div>
                <div class="menu-title">{{service.service_name}}</div>
                <div class="menu-title description">{{service.service_duration}} mins</div>
            </li>
        </ul>
    </div>
    <label class="home-slide-title _2"> Total Price: £{{calculateTotalPrice(chosen_services)}} Duration:
        {{calculateTotalDuration(chosen_services)}} mins</label>
</div>