<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="toggle_nav()">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand  revo-logo" id="revo-logo" ui-sref="app.anonymous.landing">REVO</a>
    <a class="navbar-brand" ui-sref="app.anonymous.landing">WAX</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" uib-collapse="is_collapsed">
    <ul class="nav navbar-nav navbar-right" >
        <li><a href="index.html#/app/anonymous/landing#whyrevowax">Our Wax</a></li>
        <li><a href="index.html#/app/anonymous/landing#OurStory">The Story</a></li>
        <li><a href="index.html#/app/anonymous/landing#OurPrices">Prices</a></li>
        <li><a ui-sref="app.anonymous.salon_profile" >The Salon</a></li>
        <li><a ui-sref="app.anonymous.booking_select_services" ui-sref-opts="{reload: true}">Book Now</a></li>
        <li><a ui-sref="app.anonymous.register" >Register</a></li>
        <li><a ui-sref="app.anonymous.login">Login</a></li>
    </ul>
</div><!-- /.navbar-collapse -->