<div class="row service-text"
     ng-repeat="service in services"
     ng-mousedown="add_service(service)"
     ng-hide="service.hide"

    >
    <div class="col-xs-6">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{service.name}}
    </div>
    <div class="col-xs-3">
        £{{service.price}}
    </div>
    <div class="col-xs-3">
        {{service.minutes}} mins
    </div>
</div>