<div ng-repeat="category in categories" ng-hide="category.hide">
    &nbsp;{{repeated_indent_string}}&nbsp;{{category.name}}
    <div ng-if="category.subcategories.length != 0">
        <!--<recursive-category selected-services="selected_services" level="next_level" categories="category.subcategories" ></recursive-category>-->
    </div>
    <div ng-if="category.services.length != 0">
        <category-services level="next_level" services="category.services" selected-services="selected_services" ></category-services>
    </div>
</div>