<hr>
<div class="row">
    <div class="col-md-12">
        <div>Select Service Group</div>
        <ui-select ng-model="service_group.selected" style="width: 100%" title="Choose a service group" >
            <ui-select-match placeholder="Select or search">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="service_group in service_groups | filter: $select.search">
                <span ng-bind-html="service_group.name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <!--<input type="text" style="width:100%"-->
        <!--ng-model="service_groups_search_terms"-->
        <!--ng-change="filtered_service_groups = filter_options(service_group_search_terms, service_groups)"-->
        <!--placeholder="Search by name">-->
        <!--<div class="services-div">-->
        <!--<div  ng-repeat="service_group in filtered_service_groups"> {{service_group}}</div>-->
        <!--</div>-->
        <div>Select Services</div>
        <div class="form-group has-feedback" style="margin-bottom: 0" >
            <input type="text"
                   class="btn form-control "
                   ng-class="{'btn-default': !pop_over_is_visible}"
                   style="width:100%; text-align: left;}"
                   ng-model="services_search_terms"
                   placeholder="Add services"
                   ng-change="filter_options(services_search_terms, service_group.selected.root_catergory.subcategories)"
                   ui-keypress="{enter: 'add_service_on_enter()'}"
                   ng-focus="show_pop_over()"
                   ng-blur="hide_pop_over()"
                   ng-disabled="service_group.selected == null"
            >
            <i style="font-size: 8px" class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>
        </div>
        <div class="services-div pop-over-div" ng-show="pop_over_is_visible"  >
            <div ng-repeat="category in service_group.selected.root_catergory.subcategories" ng-hide="category.hide">
                {{category.name}}
                <recursive-category level="1" categories="category.subcategories" selected-services="selected_services"></recursive-category>
            </div>
        </div>

    </div>
</div>
<!--<hr>-->
<div class="row">
    <div class="col-xs-12">
        <div class="selected-services-block">
            <div ng-repeat="selected_service in selected_services" class="selected_service_outer_div" >
                <div class="selected_service_inner_div">
                    <span class="selected_service_text"> {{selected_service.name}} (£{{selected_service.price}}, {{selected_service.minutes}} mins) </span>
                    <span class="glyphicon glyphicon-remove hover_over selected_service_text" style="margin-left: 5px" ng-click = "remove_service(selected_service)"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>