<input id='v_759' type='hidden' name='v_759' value='-99'>   <!--  Scenario 1 - event - text   -->
<input id='v_760' type='hidden' name='v_760' value='-99'>   <!--  Scenario 1 - leadTime - code   -->
<input id='v_761' type='hidden' name='v_761' value='-99'>   <!--  Scenario 1 - leadTime - text   -->
<input id='v_762' type='hidden' name='v_762' value='-99'>   <!--  Scenario 1 - width - code   -->
<input id='v_763' type='hidden' name='v_763' value='-99'>   <!--  Scenario 1 - width - text   -->
<input id='v_764' type='hidden' name='v_764' value='-99'>   <!--  Scenario 1 - lateAppointment   -->
<input id='v_765' type='hidden' name='v_765' value='-99'>   <!--  Scenario 1 - specificWindow - text  -->
<input id='v_766' type='hidden' name='v_766' value='-99'>   <!--  Scenario 1 - reminderShown   -->
<input id='v_767' type='hidden' name='v_767' value='-99'>   <!--  Scenario 1 - notice - code   -->
<input id='v_768' type='hidden' name='v_768' value='-99'>   <!--  Scenario 1 - notice - text   -->
<input id='v_769' type='hidden' name='v_769' value='-99'>   <!--  Scenario 1 - noticeDecreasesWindow   -->
<input id='v_770' type='hidden' name='v_770' value='-99'>   <!--  Scenario 1 - noticeSMS - text   -->
<input id='v_771' type='hidden' name='v_771' value='-99'>   <!--  Scenario 1 - tracking - code   -->
<input id='v_772' type='hidden' name='v_772' value='-99'>   <!--  Scenario 1 - tracking - text  -->
<input id='v_773' type='hidden' name='v_773' value='-99'>   <!--  Scenario 1 - hasCallAhead   -->
<input id='v_774' type='hidden' name='v_774' value='-99'>   <!--  Scenario 1 - callAhead - code   -->
<input id='v_775' type='hidden' name='v_775' value='-99'>   <!--  Scenario 1 - callAhead - text  -->

<input id='v_776' type='hidden' name='v_776' value='-99'>   <!--  Scenario 2 - event - text   -->
<input id='v_777' type='hidden' name='v_777' value='-99'>   <!--  Scenario 2 - leadTime - code   -->
<input id='v_778' type='hidden' name='v_778' value='-99'>   <!--  Scenario 2 - leadTime - text   -->
<input id='v_779' type='hidden' name='v_779' value='-99'>   <!--  Scenario 2 - width - code   -->
<input id='v_780' type='hidden' name='v_780' value='-99'>   <!--  Scenario 2 - width - text   -->
<input id='v_781' type='hidden' name='v_781' value='-99'>   <!--  Scenario 2 - lateAppointment   -->
<input id='v_782' type='hidden' name='v_782' value='-99'>   <!--  Scenario 2 - specificWindow - text   -->
<input id='v_783' type='hidden' name='v_783' value='-99'>   <!--  Scenario 2 - eveningsWeekend - code   -->
<input id='v_784' type='hidden' name='v_784' value='-99'>   <!--  Scenario 2 - eveningsWeekend - text  -->
<input id='v_785' type='hidden' name='v_785' value='-99'>   <!--  Scenario 2 - reminderShown   -->
<input id='v_786' type='hidden' name='v_786' value='-99'>   <!--  Scenario 2 - notice - code   -->
<input id='v_787' type='hidden' name='v_787' value='-99'>   <!--  Scenario 2 - notice - text   -->
<input id='v_788' type='hidden' name='v_788' value='-99'>   <!--  Scenario 2 - noticeDecreasesWindow   -->
<input id='v_789' type='hidden' name='v_789' value='-99'>   <!--  Scenario 2 - noticeSMS - text   -->
<input id='v_790' type='hidden' name='v_790' value='-99'>   <!--  Scenario 2 - tracking - code   -->
<input id='v_791' type='hidden' name='v_791' value='-99'>   <!--  Scenario 2 - tracking - text  -->
<input id='v_792' type='hidden' name='v_792' value='-99'>   <!--  Scenario 2 - hasCallAhead   -->
<input id='v_793' type='hidden' name='v_793' value='-99'>   <!--  Scenario 2 - callAhead - code   -->
<input id='v_794' type='hidden' name='v_794' value='-99'>   <!--  Scenario 2 - callAhead - text      -->

<input id='v_795' type='hidden' name='v_795' value='-99'>   <!--  Scenario 3 - leadTime - code   -->
<input id='v_796' type='hidden' name='v_796' value='-99'>   <!--  Scenario 3 - leadTime - text   -->
<input id='v_797' type='hidden' name='v_797' value='-99'>   <!--  Scenario 3 - width - code   -->
<input id='v_798' type='hidden' name='v_798' value='-99'>   <!--  Scenario 3 - width - text   -->
<input id='v_799' type='hidden' name='v_799' value='-99'>   <!--  Scenario 3 - eveningsWeekend - code   -->
<input id='v_800' type='hidden' name='v_800' value='-99'>   <!--  Scenario 3 - eveningsWeekend - text  -->
<input id='v_801' type='hidden' name='v_801' value='-99'>   <!--  Scenario 3 - reminderShown   -->
<input id='v_802' type='hidden' name='v_802' value='-99'>   <!--  Scenario 3 - notice - code   -->
<input id='v_803' type='hidden' name='v_803' value='-99'>   <!--  Scenario 3 - notice - text   -->
<input id='v_804' type='hidden' name='v_804' value='-99'>   <!--  Scenario 3 - noticeDecreasesWindow   -->
<input id='v_805' type='hidden' name='v_805' value='-99'>   <!--  Scenario 3 - halfWindow - text   -->
<input id='v_806' type='hidden' name='v_806' value='-99'>   <!--  Scenario 3 - tracking - code   -->
<input id='v_807' type='hidden' name='v_807' value='-99'>   <!--  Scenario 3 - tracking - text  -->



<script type="text/javascript">


    //var hasSmartMeter = parseInt("#v_XXX|code");
    var hasSmartMeter = (parseInt("#v_833|code#") == 1) ? 1 : 0;
    var hasHomeServices = (parseInt("#v_200|code#") == 1) ? 0 : 1;
    var homeServiceChoice = "#v_200#"

    //------------------------------------------------------------
    // define all the potential wild cards...
    // event definitions
    var s1_eventOptions = ["decide to call one of the <strong>large national Home Services providers</strong>",
        "decide to call your <strong>Home Services provider</strong>"];
    var s2_eventOptions = ["a large national Home Services provider telling you the importance of <strong>servicing your heating</strong>",
        "your Home Services provider telling you that your <strong>annual service for your heating</strong> is due"];

    // call conditions...
    var s1_leadTimeOptions = ["today","tomorrow","in 2 days' time"];
    var s2_leadTimeOptions = ["tomorrow", "in 2 days' time", "in 1 to 2 weeks' time", "in 3 to 4 weeks' time", "in 7 to 8 weeks' time"];
    var s3_leadTimeOptions = ["tomorrow", "in 2 days' time", "in 1 to 2 weeks' time", "in 3 to 4 weeks' time", "in 7 to 8 weeks' time"];

    var s1_widthOptions = ["1 hour appointment slots","2 hour appointment slots","4 hour appointment slots","AM or PM  appointment slots (where AM is 8am till 1pm, and PM is 12 till 6pm)","all day (8am till 6pm) appointment slots"];
    var s2_widthOptions = ["1 hour appointment slots","2 hour appointment slots","4 hour appointment slots","AM or PM  appointment slots (where AM is 8am till 1pm, and PM is 12 till 6pm)","all day (8am till 6pm) appointment slots"];
    var s3_widthOptions = ["1 hour appointment slots","2 hour appointment slots","4 hour appointment slots","AM or PM  appointment slots (where AM is 8am till 1pm, and PM is 12 till 6pm)","all day (8am till 6pm) appointment slots"];


    var s1_specificWindowOptions = [ ["12 to 1pm","11am to 1pm", "9am to 1pm", "8am to 1pm", "8am to 6pm"],
        ["5pm to 6pm", "4pm to 6pm", "2pm to 6pm", "12 to 6pm", "8am to 6pm"]];
    var s2_specificWindowOptions = [ ["12 to 1pm","11am to 1pm", "9am to 1pm", "8am to 1pm", "8am to 6pm"],
        ["5pm to 6pm", "4pm to 6pm", "2pm to 6pm", "12 to 6pm", "8am to 6pm"]];



    var s2_eveningsWeekendOptions = ["Monday to Friday from 8am to 6pm",
        "Monday to Friday from 8am to 9pm",
        "seven days a week from 8am to 6pm",
        "seven days a week from 8am to 9pm"];
    var s3_eveningsWeekendOptions = ["Monday to Friday from 8am to 6pm",
        "Monday to Friday from 8am to 9pm",
        "seven days a week from 8am to 6pm",
        "seven days a week from 8am to 9pm"];

    // notification conditions....
    var s1_noticeOptions = ["NA",
        "One day before",
        "At 7:45am on the day of"];
    var s1_noticeOptionsShort = ["NA","tomorrow", "today"];

    var s2_noticeOptions = ["NA",
        "Two days before",
        "One day before",
        "At 7:45am on the day of"];
    var s2_noticeOptionsShort = ["NA","in 2 days", "tomorrow", "today"];

    var s3_noticeOptions = ["two days","one day","on the morning"];

    var s1_noticeSMScontent = "[DAYS TO ARRIVAL] and is estimated to arrived between [TIME WINDOW]";
    var s2_noticeSMScontent = "[DAYS TO ARRIVAL] and is estimated to arrived between [TIME WINDOW]";




    var s1_noticeImpactOptions = ["your appointment you receive the following text message:",
        "your appointment you receive the following text message with a <strong>narrower appointment window</strong>:"];
    var s2_noticeImpactOptions = ["your appointment you receive the following text message:",
        "your appointment you receive the following text message with a <strong>narrower appointment window</strong>:"];

    var s3_noticeImpactOptions = ["You are told that customers will receive a text message [NOTICE PERIOD BEFORE VISIT] before their visit, reminding them of the appointment.",
        "You are told that customers will receive a text message [NOTICE PERIOD BEFORE VISIT] before their visit, reminding them of the appointment, and giving them a more accurate [HALF TIME]."];




    var s1_halfWindowOptions = [["12:30pm and 1pm","12 and 1pm","11am and 1pm","10:30am and 1pm","8am and 1pm"],
        ["5:30pm and 6pm","5pm and 6pm","4pm and 6pm","3pm and 6pm","12 and 6pm"]];
    var s2_halfWindowOptions = [["12:30pm and 1pm","12 and 1pm","11am and 1pm","10:30am and 1pm","8am and 1pm"],
        ["5:30pm and 6pm","5pm and 6pm","4pm and 6pm","3pm and 6pm","12 and 6pm"]];
    var s3_halfWindowOptions = ["half hour time slot", "1 hour time slot", "2 hours time slot", "3 hours time slot", "AM or PM time slot"];

    //    var s1_trackingOptions = ["", "Please <span class='clickHere'>click here</span> to track your engineer on the day."];
    var s1_trackingOptions = ["", "you can track their arrival <span class='clickHere'>here</span> "];
    //    var s2_trackingOptions = ["", "Please <span class='clickHere'>click here</span> to track your engineer on the day."];
    var s2_trackingOptions = ["", "you can track their arrival <span class='clickHere'>here</span>"];
    //    var s3_trackingOptions = ["-99", "This reminder text will include a weblink, allowing you to track the location of the engineer throughout the day of your appointment."];
    var s3_trackingOptions = ["-99", "-99"];


    // call ahead conditions....
    var s1_callAheadOptions = ["NA",
        "At <strong>[CALL_AHEAD_TIME]</strong> you receive the following automated text:",
        "At <strong>[CALL_AHEAD_TIME]</strong> you receive a call from the supplier telling you that the engineer has just left their previous job, and should be with you in <strong>about 20 minutes</strong>.",
        "At <strong>[CALL_AHEAD_TIME]</strong> you receive a call from the engineer telling you that they have just left their previous job, and should be with you in <strong>about 20 minutes</strong>.",
        "At <strong>[CALL_AHEAD_TIME]</strong> you receive the following automated text:"];
    var s2_callAheadOptions = ["NA",
        "At <strong>[CALL_AHEAD_TIME]</strong> you receive the following automated text:",
        "At <strong>[CALL_AHEAD_TIME]</strong> you receive a call from the supplier telling you that the  engineer has just left their previous job, and should be with you in <strong>about 20 minutes</strong>.",
        "At <strong>[CALL_AHEAD_TIME]</strong> you receive a call from the engineer telling you that they have just left their previous job, and should be with you in <strong>about 20 minutes</strong>.",
        "At <strong>[CALL_AHEAD_TIME]</strong> you receive the following automated text:"];



    //------------------------------------------------------------
    // randomly assign wildcards for each scenario...

    //------ scenario 1 --------
    // -- event...
    var s1_event_text = s1_eventOptions[hasHomeServices];



    // -- call...
    var s1_leadTime_code = Math.floor(Math.random() * s1_leadTimeOptions.length);
    var s1_leadTime_text = s1_leadTimeOptions[s1_leadTime_code];

    var s1_width_code = Math.floor(Math.random() * s1_widthOptions.length);
    var s1_width_text = s1_widthOptions[s1_width_code];

    var s1_lateAppointment = Math.floor(Math.random() * 2); // randomly assign 50:50

    var s1_specificWindow_text = s1_specificWindowOptions[s1_lateAppointment][s1_width_code];

    // -- reminder...

    var s1_notice_code = Math.floor(Math.random() * s1_noticeOptions.length);
    var s1_notice_text = s1_noticeOptions[s1_notice_code];

    var s1_reminderShown = 1;
    if (s1_notice_text == "NA"){
        s1_reminderShown = 0;
    }

    // initialise the following for case when reminder not shown...
    var s1_noticeDecreasesWindow = -99;
    var s1_noticeSMS_text = "-99";
    var s1_tracking_code = -99;
    var s1_tracking_text = "";

    // if it is shown...
    if (s1_reminderShown == 1) {

        // impact...
        s1_noticeDecreasesWindow = Math.floor(Math.random() * 2); // randomly assign 50:50

        // add days before to  impact...
        s1_notice_text = s1_notice_text + " "+ s1_noticeImpactOptions[s1_noticeDecreasesWindow];

        // create SMS wording...
        s1_noticeSMS_text = s1_noticeSMScontent;

        s1_noticeSMS_text = s1_noticeSMS_text.replace("[DAYS TO ARRIVAL]",s1_noticeOptionsShort[s1_notice_code]);

        if (s1_noticeDecreasesWindow == 1){
            s1_noticeSMS_text = s1_noticeSMS_text.replace("[TIME WINDOW]",s1_halfWindowOptions[s1_lateAppointment][s1_width_code]);
        } else {
            s1_noticeSMS_text = s1_noticeSMS_text.replace("[TIME WINDOW]",s1_specificWindow_text);
        }

        s1_tracking_code = Math.floor(Math.random() * 2); // randomly assign 50:50

        s1_tracking_text = s1_trackingOptions[s1_tracking_code];
    }

    // -- call ahead...



    var s1_callAhead_code = Math.floor(Math.random() * s1_callAheadOptions.length);
    var s1_callAhead_text = s1_callAheadOptions[s1_callAhead_code];

    var s1_hasCallAhead = 1;
    if (s1_callAhead_text == "NA") {
        s1_hasCallAhead = 0;
    }

    if (s1_hasCallAhead == 1) {
        if (s1_lateAppointment == 1) {
            s1_callAhead_text = s1_callAhead_text.replace("[CALL_AHEAD_TIME]", "5:25pm");
        } else {
            s1_callAhead_text = s1_callAhead_text.replace("[CALL_AHEAD_TIME]", "12:25pm");
        }
    }


    //------ scenario 2 --------

    // -- event...
    var s2_event_text = s2_eventOptions[hasHomeServices];

    // -- call...
    var s2_leadTime_code = Math.floor(Math.random() * s2_leadTimeOptions.length);
    var s2_leadTime_text = s2_leadTimeOptions[s2_leadTime_code];

    var s2_width_code = Math.floor(Math.random() * s2_widthOptions.length);
    var s2_width_text = s2_widthOptions[s2_width_code];

    var s2_lateAppointment = Math.floor(Math.random() * 2); // randomly assign 50:50

    var s2_specificWindow_text = s2_specificWindowOptions[s2_lateAppointment][s2_width_code];

    var s2_eveningsWeekend_code = Math.floor(Math.random() * s2_eveningsWeekendOptions.length);
    var s2_eveningsWeekend_text = s2_eveningsWeekendOptions[s2_eveningsWeekend_code];

    // -- reminder...

    var s2_notice_code = Math.floor(Math.random() * s2_noticeOptions.length);
    var s2_notice_text = s2_noticeOptions[s2_notice_code];

    var s2_reminderShown = 1;
    if (s2_notice_text == "NA"){
        s2_reminderShown = 0;
    }

    // initialise the following for case when reminder not shown...
    var s2_noticeDecreasesWindow = -99;
    var s2_noticeSMS_text = "-99";
    var s2_tracking_code = -99;
    var s2_tracking_text = "";

    // if it is shown...
    if (s2_reminderShown == 1) {

        // impact...
        s2_noticeDecreasesWindow = Math.floor(Math.random() * 2); // randomly assign 50:50

        // add days before to  impact...
        s2_notice_text = s2_notice_text + " "+ s2_noticeImpactOptions[s2_noticeDecreasesWindow];

        // create SMS wording...
        s2_noticeSMS_text = s2_noticeSMScontent;

        s2_noticeSMS_text = s2_noticeSMS_text.replace("[DAYS TO ARRIVAL]",s2_noticeOptionsShort[s2_notice_code]);

        if (s2_noticeDecreasesWindow == 1){
            s2_noticeSMS_text = s2_noticeSMS_text.replace("[TIME WINDOW]",s2_halfWindowOptions[s2_lateAppointment][s2_width_code]);
        } else {
            s2_noticeSMS_text = s2_noticeSMS_text.replace("[TIME WINDOW]",s2_specificWindow_text);
        }

        s2_tracking_code = Math.floor(Math.random() * 2); // randomly assign 50:50

        s2_tracking_text = s2_trackingOptions[s2_tracking_code];
    }

    // -- call ahead...
    var s2_hasCallAhead = -99; // randomly assign 50:50

    var s2_callAhead_code = -99;
    var s2_callAhead_text = "-99";

    s2_callAhead_code = Math.floor(Math.random() * s2_callAheadOptions.length);
    s2_hasCallAhead = (s2_callAhead_code == 0) ? 0 : 1;
    s2_callAhead_text = s2_callAheadOptions[s2_callAhead_code];

    if (s2_lateAppointment == 1) {
        s2_callAhead_text = s2_callAhead_text.replace("[CALL_AHEAD_TIME]", "5:25pm");
    } else {
        s2_callAhead_text = s2_callAhead_text.replace("[CALL_AHEAD_TIME]", "12:25pm");
    }

    //------ scenario 3 --------
    // -- call...
    var s3_leadTime_code = Math.floor(Math.random() * s3_leadTimeOptions.length);
    var s3_leadTime_text = s3_leadTimeOptions[s3_leadTime_code];

    var s3_width_code = Math.floor(Math.random() * s3_widthOptions.length);
    var s3_width_text = s3_widthOptions[s3_width_code];

    var s3_eveningsWeekend_code = Math.floor(Math.random() * s3_eveningsWeekendOptions.length);
    var s3_eveningsWeekend_text = s3_eveningsWeekendOptions[s3_eveningsWeekend_code];

    // -- reminder...
    var s3_reminderShown = Math.floor(Math.random() * 2); // randomly assign 50:50


    var s3_notice_code = -99;
    var s3_notice_text = "-99";

    var s3_noticeDecreasesWindow = -99;
    var s3_halfWindow_text = "-99";

    var s3_tracking_code = -99;
    var s3_tracking_text = "-99";

    if (s3_reminderShown == 1) {

        s3_notice_code = Math.floor(Math.random() * s3_noticeOptions.length);


        // impact...
        s3_noticeDecreasesWindow = Math.floor(Math.random() * 2); // randomly assign 50:50


        // add days before to  impact...
        s3_notice_text = s3_noticeImpactOptions[s3_noticeDecreasesWindow];

        s3_notice_text = s3_notice_text.replace("[NOTICE PERIOD BEFORE VISIT]",s3_noticeOptions[s3_notice_code]);

        // update time window, if half time...
        if (s3_noticeDecreasesWindow == 1){
            s3_notice_text = s3_notice_text.replace("[HALF TIME]",s3_halfWindowOptions[s3_width_code]);
        }
        s3_halfWindow_text = s3_halfWindowOptions[s3_width_code]

        s3_tracking_code = Math.floor(Math.random() * 2); // randomly assign 50:50

        s3_tracking_text = s3_trackingOptions[s3_tracking_code];
    }


    //------------------------------------------------------------
    //----- output variables...



    //-- Scenario 1
    $('#v_759').val(s1_event_text);
    $('#v_760').val(s1_leadTime_code);
    $('#v_761').val(s1_leadTime_text);
    $('#v_762').val(s1_width_code);
    $('#v_763').val(s1_width_text);
    $('#v_764').val(s1_lateAppointment);
    $('#v_765').val(s1_specificWindow_text);

    $('#v_766').val(s1_reminderShown);
    $('#v_767').val(s1_notice_code);
    $('#v_768').val(s1_notice_text);
    $('#v_769').val(s1_noticeDecreasesWindow);
    $('#v_770').val(s1_noticeSMS_text);
    $('#v_771').val(s1_tracking_code);
    $('#v_772').val(s1_tracking_text);

    $('#v_773').val(s1_hasCallAhead);
    $('#v_774').val(s1_callAhead_code);
    $('#v_775').val(s1_callAhead_text);
    //-- Scenario 2
    $('#v_776').val(s2_event_text);
    $('#v_777').val(s2_leadTime_code);
    $('#v_778').val(s2_leadTime_text);
    $('#v_779').val(s2_width_code);
    $('#v_780').val(s2_width_text);
    $('#v_781').val(s2_lateAppointment);
    $('#v_782').val(s2_specificWindow_text);
    $('#v_783').val(s2_eveningsWeekend_code);
    $('#v_784').val(s2_eveningsWeekend_text);

    $('#v_785').val(s2_reminderShown);
    $('#v_786').val(s2_notice_code);
    $('#v_787').val(s2_notice_text);
    $('#v_788').val(s2_noticeDecreasesWindow);
    $('#v_789').val(s2_noticeSMS_text);
    $('#v_790').val(s2_tracking_code);
    $('#v_791').val(s2_tracking_text);
    $('#v_792').val(s2_hasCallAhead);
    $('#v_793').val(s2_callAhead_code);
    $('#v_794').val(s2_callAhead_text);

    //-- Scenario 3
    $('#v_795').val(s3_leadTime_code);
    $('#v_796').val(s3_leadTime_text);
    $('#v_797').val(s3_width_code);
    $('#v_798').val(s3_width_text);
    $('#v_799').val(s3_eveningsWeekend_code);
    $('#v_800').val(s3_eveningsWeekend_text);
    $('#v_801').val(s3_reminderShown);
    $('#v_802').val(s3_notice_code);
    $('#v_803').val(s3_notice_text);
    $('#v_804').val(s3_noticeDecreasesWindow);
    $('#v_805').val(s3_halfWindow_text);
    $('#v_806').val(s3_tracking_code);
    $('#v_807').val(s3_tracking_text);

</script>