.label-title{
    color: #f7e734;
    font-size: 16px;
    font-weight: bold;
}

.alert-div{
    margin: 70px;
}

.button-div{
    margin-top: 10px;
    text-align: right;
    float: right;
}

.detail-message-div{
    float: left;
    text-align: left;
    padding-top: 15px;
}
