<form class="revo-form" name="form" role="form">
    <div class="form-group" ng-class="{ 'has-error': form.new_email.$dirty && form.new_email.$error.required }">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control" ng-model="new_email" required />
        <span ng-show="form.new_email.$dirty && form.new_email.$error.required" class="help-block">Email is required</span>
    </div>
    <div class="form-actions">
        <input type="button" ng-click="password_reset(new_email)" class="btn btn-success revo-button" value="Send Reset Email" />
        <input type="button" ui-sref="app.anonymous.login" class="btn btn-warning revo-button" value="Cancel"/>
    </div>
    <label class="message-div" ng-style="message_style">{{message}}</label>
</form>


