<ui-select ng-model="ctrl.staff.selected" style="width: 100%">
    <ui-select-match >{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="staff in all_staff | filter: $select.search">
        <span ng-bind-html="staff | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>