<div class="row" ng-hide="editable">
    <div class="col-md-6">
        <label class="label-title">{{ulabel}}</label>
    </div>
    <div class="col-md-6">
        <label>{{udata}}</label>
    </div>
</div>
<div class="row" ng-hide="!editable">
    <div class="col-md-6">
        <label class="label-title">{{ulabel}}</label>
    </div>
    <div class="col-md-6">
        <input type="{{inputType}}" ng-model="udata" class="detail-input form-control"> </input>
    </div>
</div>