<label class="column-title white forher">Personal Details:</label>
<div class="w-row">
    <div class="w-col w-col-6 ">
        <div class="w-row">
            <h4>Guest User ...</h4>
        </div>
        <register-form
                cancel-state="app.annonymous.landing"
                reg-user-next-state="app.customer.booking_overview"
                guest-next-state="app.anonymous.booking_overview"
                guest-mode="true"
        ></register-form>
    </div>
    <div class="w-col w-col-6 ">
        <div class="w-row">
            <h4>Already Registered ...</h4>
        </div>
        <login-form
                next-state="app.customer.booking_overview"
                show-register="false"
        ></login-form>
    </div>
</div>



