<nav class="navbar landingtopnav" id="landingtopnav">
    <div class="container">
        <anonymous-top-menu></anonymous-top-menu>
    </div><!-- /.container-fluid -->
</nav>
<landing-video-banner></landing-video-banner>
<landing-floating-book-now target="app.anonymous.booking_select_services"></landing-floating-book-now>
<landing3-step-treatment></landing3-step-treatment>
<landing-why-revo-info></landing-why-revo-info>
<landing-why-revo-bullets></landing-why-revo-bullets>
<landing-our-story ></landing-our-story>
<div class="w-section ourstory" id="OurPrices">
    <div class="w-container home-container" >
        <service-menu shop = "land_ctl.revowax_shop_details"></service-menu>
    </div>
</div>
<landing-social-media></landing-social-media>
<landing-contact-us></landing-contact-us>
<landing-footer></landing-footer>