<div class="row">
    <div class="col-md-12">
        <label class="column-title white forher">Revowax {{shop.name}}</label>
        <div class="row">
            <div class="col-md-7">
                <img src="images/revowax_kx.jpeg" style="width:100%">
            </div>
            <div class="col-md-5">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3> Address</h3>
                <p>{{shop.address1}}</p>
                <p>{{shop.address2}}</p>
                <p>{{shop.town_city}}</p>
                <p>{{shop.postcode}}</p>
            </div>
            <div class="col-md-6">
                <h3> Opening Times</h3>
                <table style="width:100%">
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Opening</td>-->
                        <!--<td>Closing</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>Monday</td>
                        <td>{{shop.opening_times.monday_start}}</td>
                        <td>{{shop.opening_times.monday_end  }}</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>{{shop.opening_times.tuesday_start}}</td>
                        <td>{{shop.opening_times.tuesday_end  }}</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>{{shop.opening_times.wednesday_start}}</td>
                        <td>{{shop.opening_times.wednesday_end  }}</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>{{shop.opening_times.thursday_start}}</td>
                        <td>{{shop.opening_times.thursday_end  }}</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>{{shop.opening_times.friday_start}}</td>
                        <td>{{shop.opening_times.friday_end  }}</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>{{shop.opening_times.saturday_start}}</td>
                        <td>{{shop.opening_times.saturday_end  }}</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>{{shop.opening_times.sunday_start}}</td>
                        <td>{{shop.opening_times.sunday_end  }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>