<div class="w-container home-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <label class="column-title white forher">Sign In</label>
            <login-form next-state="app.customer.landing" show-register="true"></login-form>
        </div>
    </div>
</div>


