<section id="agendaCalenda">
    <div class="calendar" ng-model="agenda_ctl.event_sources" calendar="myCalendar1" ui-calendar="agenda_ctl.uiConfig.calendar"></div>

    <div class="revo-booking-tooltip tooltip-div">
        <div class="tooltip-heading" >
            Confirmed Appointment
        </div>
        <div class="tooltip-body">
            <div class="tooltip-body-div">
                <div class="tooltip-body-left-div">
                    <strong>{{agenda_ctl.tooltip_name}}</strong>
                    <div>
                        {{agenda_ctl.tooltip_number}}
                    </div>
                </div>
            </div>
           <hr>
            <div class="tooltip-body-div">
                <div class="tooltip-body-left-div">
                    <strong>Date</strong>
                </div>
                <div class="tooltip-body-right-div">
                    <div>
                        {{agenda_ctl.tooltip_date | date:'dd/MM/yyyy' }}
                    </div>
                    <div>
                        {{agenda_ctl.tooltip_date | date:'h:mma'}}
                    </div>
                </div>
            </div>
            <hr>
            <div class="tooltip-body-div">
                <div class="tooltip-body-left-div">
                    <strong>Duration</strong>
                </div>
                <div class="tooltip-body-right-div">
                    {{agenda_ctl.tooltip_duration}} mins
                </div>
            </div>
            <hr>
            <div class="tooltip-body-div">
                <div class="tooltip-body-left-div">
                    <strong>Services</strong>
                </div>
                <div class="tooltip-body-right-div">
                    <div ng-repeat="service in agenda_ctl.tooltip_services">{{service.name}}
                </div>
            </div>
            <hr>
            <div class="tooltip-body-div">
                <div class="tooltip-body-left-div">
                    <strong>Total</strong>
                </div>
                <div class="tooltip-body-right-div">
                    £{{agenda_ctl.tooltip_price}}
                </div>
            </div>
            <hr>
            <div class="tooltip-body-div tooltip-payment-div" style="">
                <div class="tooltip-body-left-div">
                    <strong>Payment</strong>
                </div>
                <div class="tooltip-body-right-div">
                    {{agenda_ctl.tooltip_payment_status}}
                </div>
            </div>
            <hr>
            <div class="tooltip-body-div">
                <div class="tooltip-body-left-div">
                    <strong>Source</strong>
                </div>
                <div class="tooltip-body-right-div">
                    {{agenda_ctl.tooltip_source}}
                </div>
            </div>
        </div>
    </div>
</section>