<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header" >
    <!--<div class="hidden-md hidden-lg hidden-sm" ng-click="toggle_nav()" style="float: right">-->
        <!--<a class="toggleMenuText" href="javascript:void(0)" ng-class = "{menuOpen: !is_collapsed}">Menu</a>-->
    <!--</div>-->
    <button type="button" class="navbar-toggle"  ng-click="toggle_nav()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand revo-logo" id="revo-logo"  ui-sref="app.customer.landing">REVO</a>
    <a class="navbar-brand" ui-sref="app.customer.landing">WAX</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" uib-collapse="is_collapsed">
    <ul class="nav navbar-nav navbar-right" ng-class = "{menuListOpen: !is_collapsed}">
        <li><a href="index.html#/app/customer/landing#whyrevowax" >Our Wax</a></li>
        <li><a href="index.html#/app/customer/landing#OurStory"  >The Story</a></li>
        <li><a href="index.html#/app/customer/landing#OurPrices" >Prices</a></li>
        <li><a ui-sref="app.customer.salon_profile">The Salon</a></li>
        <li><a ui-sref="app.customer.booking_select_services" ui-sref-opts="{reload: true}" >Book Now</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a ui-sref="app.customer.user_details" ui-sref-opts="{reload: true}">Your Details</a></li>
                <li><a ui-sref="app.customer.bookings" ui-sref-opts="{reload: true}">Your Bookings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="javascript:void(0)" ng-click="log_out()">Log Out</a></li>
            </ul>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->
