<form class="revo-form" name="form" role="form">
    <div class="form-group" ng-class="{ 'has-error': form.password1.$dirty && form.password1.$error.required }">
        <label for="password1">New Password</label>
        <input type="password" name="password1" id="password1" class="form-control" ng-model="password1" required />
        <span ng-show="form.password1.$dirty && form.password1.$error.required" class="help-block">Please enter in new password</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password2.$dirty && form.password2.$error.required }">
        <label for="password2">Confirm Password</label>
        <input type="password"
               name="password2"
               id="password2"
               class="form-control"
               ng-model="password2" required
               ui-validate=" '$value==password1' "
               ui-validate-watch=" 'password1' " required/>
        <span ng-show="form.password2.$dirty && form.password2.$error.required" class="help-block">Please confirm new password</span>
        <span ng-show="form.password2.$dirty && (password2 != password1)" class="help-block"> Password don't match </span>
    </div>
    <div class="form-actions">
        <input type="button" ng-click="form.$valid && reset_password_confirmation()" class="btn btn-success revo-button" value="Update Password" />
    </div>
    <label class="message-div" ng-style="message_style">{{message}}</label>
</form>


