/*.navbar {*/
    /*margin-bottom: 0px;*/
    /*font-family: Oswald, 'Helvetica Neue', Helvetica, sans-serif;*/
    /*font-weight: 500;*/
    /*font-size: 18px;*/
    /*color: #FFF;*/
    /*width: 100%;*/
    /*background-color: black;*/
/*}*/

/*.navbar a {*/
    /*color: white;*/
/*}*/

/*.navbar a:active {*/
    /*color: #f7e734;*/
/*}*/
/*.navbar a:hover {*/
    /*color: #f7e734;*/
/*}*/

/*.navbar li:hover {*/
    /*color: #f7e734;*/
/*}*/


/*a.navbar-brand {*/
    /*color: #FFF;*/
    /*font-size: 28px;*/
    /*font-weight: 700;*/
/*}*/

/*a.navbar-brand {*/
    /*color: #FFF;*/
    /*font-size: 28px;*/
    /*font-weight: 700;*/
/*}*/

/*#revo-logo{*/
    /*color: #f7e734;*/
    /*padding-right: 0px;*/
    /*margin-right: 0px;*/
/*}*/

.label-title{
    color: #f7e734;
    font-size: 16px;
    font-weight: bold;
}

.alert-div{
    margin: 70px;
}

.button-div{
    margin-top: 10px;
    text-align: right;
    float: right;
}

.detail-message-div{
    float: left;
    text-align: left;
    padding-top: 15px;
}