<nav class="navbar landingtopnav" id="landingtopnav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
            <div class="hidden-md hidden-lg hidden-sm" ng-click="toggle_top_nav()" style="float: right">
                <a class="toggleMenuText" href="javascript:void(0)"  ng-class = "{menuOpen: !is_collapsed}">Menu</a>
            </div>

            <a class="navbar-brand revo-logo" ui-sref="app.landing">REVO</a>
            <a class="navbar-brand" ui-sref="app.landing">WAX</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" uib-collapse="is_collapsed">
            <ul class="nav navbar-nav navbar-right" ng-class = "{menuListOpen: !is_collapsed}">
                <li><a href="index.html#/app/landing#whyrevowax" ng-hide="user_data.isLoggedIn">Our Wax</a></li>
                <li><a href="index.html#/app/landing#OurStory" ng-hide="user_data.isLoggedIn">The Story</a></li>
                <li><a href="index.html#/app/landing#OurPrices" ng-hide="user_data.isLoggedIn">Prices</a></li>
                <li ng-class="{ active: isActive('/booking/create')}"><a ui-sref="app.profile">The Salon</a></li>
                <li ng-hide="ACTIVATE_TREATWELL" style="cursor: pointer;" ng-class="{ active: isActive('/booking/create')}"><a ng-click="GoToBooking()" >Book Now</a></li>
                <li ng-show="ACTIVATE_TREATWELL" style="cursor: pointer;" ><a href='https://www.treatwell.co.uk/' onclick='wahanda.openOnlineBookingWidget("https://widget.treatwell.co.uk/place/287708/menu/"); return false;' target="_blank">Book Now</a></li>
                <li ng-hide="ACTIVATE_TREATWELL" ng-class="{ active: isActive('/booking/create')}" ng-hide="user_data.isLoggedIn"><a ui-sref="app.account.register">Register</a></li>
                <li ng-hide="ACTIVATE_TREATWELL" ng-class="{ active: isActive('/booking/create')}" ng-hide="user_data.isLoggedIn"><a ui-sref="app.account.login">Log In</a></li>
                <li ng-class="{ active: isActive('/app/agenda')}" ng-show="((user_data.isLoggedIn) && (user_data.userType == 'S'))">
                    <a ui-sref="app.agenda">Salon Management</a>
                    <!--<li class="dropdown" ng-show="((userDetails.isLoggedIn) && (userDetails.userType == 'S'))">-->
                    <!--<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Salon Management<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a ui-sref="app.booking.stage1">New Booking</a></li>-->
                    <!--<li><a ui-sref="app.agenda">Agenda</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a ui-sref="app.agenda">Profile</a></li>-->
                    <!--<li><a ui-sref="app.agenda">Staff</a></li>-->
                    <!--<li><a ui-sref="app.agenda">Services</a></li>-->
                    <!--<li><a ui-sref="app.agenda">Customers</a></li>-->
                    <!--</ul>-->
                </li>
                <li class="dropdown" ng-hide="!user_data.isLoggedIn">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="app.account.details">Personal Details</a></li>
                        <li><a ui-sref="app.account.appointments">Appointments</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" ng-click="LogOut()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--<nav class="navbar navbar-fixed-top fixedlandingnav" id="fixedlandingnav">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand revo-logo"  ui-sref="app.landing">REVO</a>-->
            <!--<a class="navbar-brand" ui-sref="app.landing">WAX</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="index.html#/app/landing#whyrevowax" ng-hide="user_data.isLoggedIn">Our Wax</a></li>-->
                <!--<li><a href="index.html#/app/landing#OurStory" ng-hide="user_data.isLoggedIn">The Story</a></li>-->
                <!--<li><a href="index.html#/app/landing#OurPrices" ng-hide="user_data.isLoggedIn">Prices</a></li>-->
                <!--<li ng-class="{ active: isActive('/booking/create')}"><a ui-sref="app.profile">The Salon</a></li>-->
                <!--<li style="cursor: pointer;" ng-class="{ active: isActive('/booking/create')}"><a ng-click="GoToBooking()">Book Now</a></li>-->
                <!--<li ng-class="{ active: isActive('/booking/create')}" ng-hide="user_data.isLoggedIn"><a ui-sref="app.account.register">Register</a></li>-->
                <!--<li ng-class="{ active: isActive('/booking/create')}" ng-hide="user_data.isLoggedIn"><a ui-sref="app.account.login">Log In</a></li>-->
                <!--<li ng-class="{ active: isActive('/app/agenda')}" ng-show="((user_data.isLoggedIn) && (user_data.userType == 'S'))">-->
                    <!--<a ui-sref="app.agenda">Salon Management</a>-->
                    <!--&lt;!&ndash;<li class="dropdown" ng-show="((userDetails.isLoggedIn) && (userDetails.userType == 'S'))">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Salon Management<span class="caret"></span></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a ui-sref="app.booking.stage1">New Booking</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a ui-sref="app.agenda">Agenda</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a ui-sref="app.agenda">Profile</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a ui-sref="app.agenda">Staff</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a ui-sref="app.agenda">Services</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a ui-sref="app.agenda">Customers</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--</li>-->
                <!--<li class="dropdown" ng-hide="!user_data.isLoggedIn">-->
                    <!--<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a ui-sref="app.account.details">Personal Details</a></li>-->
                        <!--<li><a ui-sref="app.account.bookings">Appointments</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="javascript:void(0)" ng-click="LogOut()">Log Out</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->
<div class="fixed-buttons-bottom-right">
    <a ng-show="ACTIVATE_TREATWELL" class="w-inline-block fixed-button" style="cursor: pointer;" href='https://www.treatwell.co.uk/' onclick='wahanda.openOnlineBookingWidget("https://widget.treatwell.co.uk/place/287708/menu/"); return false;' target="_blank">
        <div  class="fixed-button-title" >BOOK NOW</div>
    </a>
    <!--<a ng-hide="ACTIVATE_TREATWELL" class="w-inline-block fixed-button" style="cursor: pointer;" ng-click="GoToBooking()">-->
        <!--<div  class="fixed-button-title" >BOOK NOW</div>-->
    <!--</a>-->
</div>
<div class="w-section home-hero" id="homeHero">
    <div class="w-slider home-slider" >
        <div class="w-embed videobackground">
            <div class="videoContainer"
                 style="position:absolute; height:100%; width:100%;overflow:hidden; z-index: -1;">
                <video autoplay="" loop="" style="min-width:100%; min-height: 100%;">
                    <source src="videos/legs_landing_page.mp4">
                    <source src=" " type="application/mp4">
                </video>
            </div>
        </div>
        <div class="w-slider-mask videobackgroundmask">
            <div class="w-slide videoslide">
                <div class="home-slide-overlay">
                    <div class="w-container home-slide-container">
                        <div class="slider-text-block">
                            <h2 class="home-slide-title">the new waxing experience!</h2>
                            <h2 class="home-slide-title _2">Banishing the need for bravery&nbsp;</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="w-slider-arrow-left slider-button-left" data-ix="hide-left-arrow">-->
            <!--<div class="w-icon-slider-left slider-arrow-icon"></div>-->
        <!--</div>-->
        <!--<div class="w-slider-arrow-right slider-button-right" data-ix="hide-right-arrow">-->
            <!--<div class="w-icon-slider-right slider-arrow-icon"></div>-->
        <!--</div>-->
        <div class="w-slider-nav w-round w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny home-slider-navigation"></div>
    </div>
</div>
<div class="w-section section home-intro" id="3StepTreatment">
    <div class="w-container home-container centered">
        <h2 class="white-section-title" >a 3 step treatment</h2>
    </div>
    <div class="w-container feature-container">
        <div class="w-row intro-features">
            <div class="w-col w-col-4 feature-column"><img class="service-icon"
                                                                                         src="images/Linecons-thewaiter_1.png">

                <div class="service-title">1. clean</div>
                <div class="service-title subtitle">pre wax SKIN&nbsp;treament</div>
            </div>
            <div class="w-col w-col-4 feature-column"><img class="service-icon"
                                                                                         src="images/Icon-music.png">

                <div class="service-title">2. remove</div>
                <div class="service-title subtitle">hair removal</div>
            </div>
            <div class="w-col w-col-4 feature-column" ><img class="service-icon"
                                                                                         src="images/Linecons-drinks.png">

                <div class="service-title">3. nourish</div>
                <div class="service-title subtitle">post wax skin treatment</div>
            </div>
        </div>
    </div>
</div>

<div class="w-section home-section whyrevowax" id="whyrevowax">
    <div class="w-container container" ><img
            class="w-hidden-medium w-hidden-small w-hidden-tiny intro-image" src="images/WomanNoBackGround.png">

        <h2 class="column-title">&nbsp;WHY REVOWAX</h2>

        <div class="w-row feature-row">
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="w-clearfix feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-man.png">
                    <div class="list-item-white-title">Water Soluble</div>
                    <p>No more rinsing with chemicals, our wax is completely water soluble. Resulting in no stickiness</p>
                </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-music.png">

                    <div class="list-item-white-title">Nourishingly good</div>
                    <p>Our special formula is enriched with fine oils along with vitamins E, A and K known to nourish and rejuvenate your skin.</p>
                </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-photos.png">

                    <div class="list-item-white-title">Minimises discomfort</div>
                    <p> Revo was developed to minimise trauma and discomfort by not adhering to the wet, live skin cells.  </p>
                </div>
            </div>
        </div>
        <div class="w-row feature-row">
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="w-clearfix feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-screen.png">
                    <div class="list-item-white-title">Minimises redness</div>
                    <p>Revo was developed to adhere to just the dead skin cells, avoiding redness and providing exfoliation</p>
                </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-home.png">

                    <div class="list-item-white-title">Trained beauticians</div>
                    <p>Every beautician that joins our team undergoes extensive training on real models.</p>
                </div>
            </div>
            <div class="w-col w-col-4 w-col-small-4 feature-col">
                <div class="w-clearfix feature-wrapper"><img class="feature-icon-left" src="images/Icon-pink-mic.png">
                    <div class="list-item-white-title">love RevoWax</div>
                    <p>Many of our customers have perceived it to be less painful and have reduced after stinging.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-section image-section" >
    <div class="image-section-overlay">
        <div class="w-container">
            <div class="w-row" >
                <div class="w-col w-col-3 w-col-small-6 stats-col">
                    <!--<div class="icon-block">-->
                        <!--<div class="stat-title">SPECIAL</div>-->
                        <!--<div class="stat-title description">FORMULA</div>-->
                        <!--&lt;!&ndash;<a class="link stats-link" href="#">Learn more</a>&ndash;&gt;-->
                    <!--</div>-->
                </div>
                <div class="w-col w-col-3 w-col-small-6 stats-col">
                    <div class="icon-block">
                        <div class="stat-title">100%</div>
                        <div class="stat-title description">NATURAL</div>
                        <!--<a class="link stats-link" href="#">Learn more</a>-->
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-small-6 stats-col">
                    <div class="icon-block">
                        <div class="stat-title">100%</div>
                        <div class="stat-title description">WATER SOLUBLE</div>
                        <!--<a class="link stats-link" href="#">Learn more</a>-->
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-small-6 stats-col">
                    <!--<div class="icon-block">-->
                        <!--<div class="stat-title">VITAMINS</div>-->
                        <!--<div class="stat-title description">E, A and K</div>-->
                        <!--&lt;!&ndash;<a class="link stats-link" href="#">Learn more</a>&ndash;&gt;-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-section home-section ourstory" id="OurStory">
    <div class="w-container container" >
        <h2 class="column-title" >Our story</h2>

        <div class="feature-wrapper">
            <p>RevoWax is the new 100% natural, water soluble wax, designed to soothe pain. Our special formula is enriched with fine oils along with vitamins E, A and K known to nourish and rejuvenate your skin.</p>
            <p>Revo was developed to minimise trauma and discomfort to your skin. We have achieved this by making the wax water soluble, resulting in the wax not adhering to the wet, live skin cells but only to dry dead cells. This process protects your skin, avoids redness and provides exfoliation and no stickiness. </p>
            <p>Your skin will love RevoWax. Just like the many of our customers who have perceived it to be far Less Painful, with reduced after stinging and a long lasting regrowth.</p>
            <p>Say Hello to REVOWAX!</p>
        </div>
    </div>
</div>
<div class="w-section image-background-section">
    <div class="background-image-section-overlay">
        <div class="w-container container">
            <div class="w-row _2-column-row">
                <div class="w-col w-col-7 text-column-left">
                    <h2 class="column-title">our story</h2>

                    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros
                        dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id
                        rutrum lorem imperdiet.</p><a class="button" href="#contact" data-ix="open-popup">CONTACT US</a>
                </div>
                <div class="w-col w-col-5 w-hidden-small w-hidden-tiny"></div>
            </div>
        </div>
    </div>
</div>

<div class="w-section ourstory" id="OurPrices">
    <div class="w-container home-container" ng-show="salon_data_fetched" >
        <div class="row w-hidden-tiny priceMenu">
            <div class="w-tabs menu-tabs">
                <div class="w-tab-menu drink-tabs-menu" >
                    <div ng-repeat="category in booking_data">
                        <div class="column-title white forher">{{category.category_name}}...</div>
                        <div ng-repeat="subcategory in category.subcategories">
                            <a class="{{subcategory.subcategory_css_class}}" ng-click="subCategoryClickHandler(category.category_num, subcategory.subcategory_num)">
                                <div class="tab-title">{{subcategory.subcategory_name}}</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-tab-content w-clearfix tabcontentservices">
                    <div ng-repeat="category in booking_data">
                        <div  ng-repeat="subcategory in category.subcategories" ng-if="subcategory.subcategory_selected">
                            <div class="drinks-tab-pane">
                                <div class="w-list-unstyled menu-list">
                                    <ul class="w-list-unstyled menu-list" >
                                        <li ng-class="service.service_css_class" class="" ng-repeat="service in subcategory.services" ng-click="serviceClickHandler(category.category_num, subcategory.subcategory_num, service.service_num )" >
                                            <div class="menu-price">£{{service.service_price}}</div>
                                            <div class="menu-title">{{service.service_name}}</div>
                                            <div class="menu-title description">{{service.service_duration}} mins</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  hidden-lg hidden-md hidden-sm w-hidden-small priceMenu" >
            <div ng-repeat="category in booking_data">
                <div class="column-title white forher">{{category.category_name}}...</div>
                <div ng-repeat="subcategory in category.subcategories">
                    <!--<a class="{{subcategory.subcategory_css_class}}">-->
                    <div class="tab-title">{{subcategory.subcategory_name}}</div>
                    <!--</a>-->
                    <div class="drinks-tab-pane">
                        <div class="w-list-unstyled menu-list">
                            <ul class="w-list-unstyled menu-list" >
                                <li ng-class="service.service_css_class" class="" ng-repeat="service in subcategory.services" ng-click="serviceClickHandler(category.category_num, subcategory.subcategory_num, service.service_num )" >
                                    <div class="menu-price">£{{service.service_price}}</div>
                                    <div class="menu-title">{{service.service_name}}</div>
                                    <div class="menu-title description">{{service.service_duration}} mins</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="w-section section tint">
    <div class="w-container container">
        <div class="w-row _2-column-row">
            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 w-hidden-tiny image-column-left lower">
                <div class="w-row" >
                    <a href="https://twitter.com/revowax">
                        <div class="w-col w-col-6"><img class="socialmediaimage" src="images/Twitter.png">
                        </div>
                    </a>
                    <div hidden class="w-col w-col-6"><img class="socialmediaimage" src="images/GooglePlus.png">
                    </div>
                </div>
                <div class="w-row" >
                    <div hidden class="w-col w-col-6"><img class="socialmediaimage" src="images/Instagram.png">
                    </div>
                    <a href="https://www.facebook.com/Revowax/" >
                        <div class="w-col w-col-6"><img class="socialmediaimage" src="images/Facebook.png" >
                        </div>
                    </a>

                </div>
            </div>
            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 text-column-right">
                <h2 class="column-title" >share your experience</h2>

                <p>At Revo Wax we are all about you. Tell us what you liked about your
                    treatment, so we can make it even better the next time we see you.</p>
            </div>
        </div>
    </div>
</div>


<div class="w-section footer">
    <div class="w-container container">
        <div class="w-row services-row">
            <div class="w-col w-col-3 service-column">
                <div class="footer-icon-circle"><img src="images/Icon-phone.png">
                </div>
                <h4>Call us</h4>

                <p><strong>Call us on:</strong>
                    <br><a class="link white" href="tel:">0203 633 2203<br></a>
                </p>
            </div>
            <div class="w-col w-col-3 service-column">
                <div class="footer-icon-circle"><img src="images/Icon-whatsapp.png">
                </div>
                <h4>text&nbsp;US</h4>

                <p><strong>WhatsApp or SMS</strong>
                    <br><a class="link white" href="tel:">0203 633 2203</a>
                </p>
            </div>
            <div class="w-col w-col-3 service-column">
                <div class="footer-icon-circle"><img src="images/Icon-mail.png">
                </div>
                <h4>new_email us</h4>

                <p><strong>You can always reach us at:</strong>
                    <br><a class="link white">hello@revowax.com</a>
                </p>
            </div>
            <div class="w-col w-col-3 service-column">
                <div class="footer-icon-circle"><img src="images/Icon-group.png">
                </div>
                <h4>Social Media&nbsp;</h4>

                <p>Find us on <a href="https://www.facebook.com/Revowax/" class="link white">Facebook</a> and <a class="link white" href="https://twitter.com/revowax">Twitter</a>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<div class="bottom-footer">
    <div class="w-container">
        <div class="bottom-footer-text">Copyright &#169; 2016 RevoWax</div>
    </div>
</div>