/*Correction */
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
     margin-right: 0px;
     margin-left: 0px;
}

.landingtopnav {
    margin-bottom: 0px;
    font-family: Oswald, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    z-index: 100;
    width: 100%;
    position: absolute;
    margin-top: 50px;
    background-color: transparent;
}

.fixedlandingnav  {
    position: fixed;
    z-index: 100;
}

.landingtopnav a {
    color: white;
}

.landingtopnav a:active {
    color: #f7e734;
    background: none;
}
.landingtopnav a:hover {
    color: #f7e734;
    background: none;
}

.landingtopnav li:hover {
    color: #f7e734;
    background: none;
}

a.navbar-brand {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    padding-top: 15px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
}

a.navbar-brand:hover {
    color: #FFF;
}

a.navbar-brand.revo-logo{
    color: #f7e734;
    padding-right: 0px;
    margin-right: 0px;
}

/* Main landing title */
.slider-text-block {
    position: relative;
    left: 0px;
    display: block;
    width: 100%;
}

.home-slide-container {
    position: relative;
    height: auto;
    padding-top: 35vh;
    text-align: right;
}

.menuOpen{
    color:red;
}

.menuListOpen{
    margin-top: 0;
    background-color:#5bb944;
}
.toggleMenuText{
    color: red;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .home-slide-container {
        padding-top: 40vh;
    }
    .slider-text-block {
        padding-right: 30px;
    }
    .landingtopnav {
        margin-top: 0px;
        background-color: #5cb85c
    }
    /*Sections*/
    .home-hero {
        height: 100vh;
    }
    .navbar-brand{
        padding-top: 0;
        padding-left: 1px;
    }
    .revo-logo{
        margin-left: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
        color: white;
    }
    .drinks-tab-pane{
        padding-top: 20px;
    }

}


@media (max-width: 479px) {
    .home-slide-container {
        padding-top: 40vh;
    }
    .slider-text-block {
        padding-right: 20px;
    }

    /*Sections*/
    .home-section.whyrevowax {
        height: auto;
    }
    .home-section.ourstory {
        height: auto;
    }
    .home-hero {
        height: 100vh;
    }
    .tab-title {
        font-size: 24px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        text-transform: uppercase;
    }
    .drinks-tab-pane{
        padding-top: 20px;
    }
    .priceMenu{
        padding: 30px;
    }
}

body {
    height: 100px;
    background-color: black;
    font-family: Oswald, 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 24px;
}