.revo-form {
    padding-left:10px;
    padding-right:10px;
}


.revo-button-div{
    margin-top: 10px;
    text-align: right;
}

.revo-button{
    float: right;
    margin-left: 20px;
}

.revo-label{
    margin-right: 5px;
}

.revo-checkbox{
    font-size: 20px;
}

.forgotton-password-link {
    float: left;
    color:  #f7e734;
    cursor: pointer;
}

.message-div {
    clear: both;
    color:red;
    margin-top: 60px;
    font-size: 18px;
    text-align: center;
}

.error-message-div {
    color:red;
}

.success-message-div {
    color: #48ff48;
}