<div class="w-container home-container">
    <label class="problem-title">Sorry a problem has occurred ...</label>
    <div class="w-row">
        <div class="w-col w-col-12 ">
            <h4>The booking slot is no longer available</h4>
        </div>
    </div>
    <div class="w-row">
        <div class="w-col w-col-12 ">
            <p class="white-text">We appologise for the inconvenience, please try again with a different booking slot</p>
        </div>
    </div>
    <div class="w-row">
        <button type="button" id="bookButton" class="btn btn-success" ng-click="booking_stage7_ctl.state.go('app.customer.booking2')">
            Try again
        </button>
    </div>
</div>
