<div class="w-container home-container">
    <div class="row">
        <div class="col-md-6">
            <label class="column-title white forher">Your Details</label>
            <user-detail input-type = "text" editable="true" ulabel="Firstname:" udata="user_state.first_name" ></user-detail>
            <user-detail input-type = "text" editable="true" ulabel="Lastname:" udata="user_state.last_name" ></user-detail>
            <user-detail input-type = "text" editable="true" ulabel="Email:" udata="user_state.email" ></user-detail>
            <user-detail input-type = "text" editable="true" ulabel="Mobile:" udata="user_state.mobile" ></user-detail>
            <div class="row">
                <div class="col-md-12 revo-button-div">
                    <label class="revo-label"> <input type="checkbox" class="revo-checkbox" ng-model="user_state.receive_promotions"> Receive promotional emails?</label>
                </div>
            </div>
            <div class="button-div">
                <!--<button class="btn btn-danger detail-button" ng-click="delete()"> Delete Account</button>-->
                <button class="btn btn-success detail-button" ng-click="save()">Update Details</button>
            </div>
            <div class="alert alert-success alert-div" hide-me="!show_alert_flag">
                <strong>Success!</strong> Your details have been updated
            </div>
        </div>
        <div class="col-md-6 ">
            <label class="column-title white forher">Change Password</label>
            <user-detail input-type = "password" editable="true" ulabel="Old Password:" udata="old_password" ></user-detail>
            <user-detail input-type = "password" editable="true" ulabel="New Password:" udata="new_password1" ></user-detail>
            <user-detail input-type = "password" editable="true" ulabel="Confirm Password:" udata="new_password2" ></user-detail>
            <div class="button-div">
                <button class="btn btn-success detail-button" ng-click="change_password()">Update Password</button>
            </div>
            <div class="detail-message-div" ng-show="show_message">
                <p class="form_message" style="margin-left: 5px; padding-top: 0" ng-style="message_style">{{message}}</p>
            </div>
        </div>
    </div>
</div>
