<ui-select ng-model="booking_time.selected"
           theme="bootstrap"
           on-select="select_time()"
           uis-open-close="scroll_to_time()"
           style="width: 100%; margin-bottom: 10px" title="Choose a time">
    <ui-select-match class="ui-select-match">{{$select.selected}}</ui-select-match>
    <ui-select-choices id="time-choice-list" class="ui-select-choices" repeat="booking_time in booking_times | filter: $select.search">
        <span ng-bind-html="booking_time | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>