<ui-select ng-model="duration.selected" style="width: 100%" title="Choose a time">
    <ui-select-match >{{$select.selected.duration_string}}</ui-select-match>
    <ui-select-choices repeat="duration in durations | filter: $select.search">
        <span ng-bind-html="duration.duration_string| highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>