<div class="w-container home-container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <label class="column-title white forher">Register:</label>
            <register-form
                    cancel-state="app.anonymous.landing"
                    guest-next-state=""
                    reg-user-next-state="app.customer.landing"
                    guest-mode="false">
            </register-form>
        </div>
    </div>
</div>


