<form class="revo-form" name="form" role="form">
    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <label for="username">Username/Email</label>
        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
        <input type="button" ng-click="login(username,password)" class="btn btn-success  revo-button"value="Login" />
        <input type="button" ui-sref="app.anonymous.register" ng-show="showRegister" class="btn btn-primary revo-button" value="Register"/>
        <a ui-sref="app.anonymous.password_reset" class="forgotton-password-link">Forgotten your password?</a>
    </div>
    <label class="message-div error-message-div">{{error_message}}</label>
</form>


