
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}


.agenda-modal-div {
    width: 100%;
    color: black;
    /*-webkit-box-shadow: -4px 7px 39px 3px rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: -4px 7px 39px 3px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: -4px 7px 39px 3px rgba(0, 0, 0, 0.3);*/
    /*border: solid;*/
    /*border-color: #808080;*/
    /*border-width: 1px;*/
    /*background-color: white;*/
}
.agenda-heading-div {
    border-bottom-color: grey;
    border-bottom: solid;
    border-width: 1px;
    padding: 10px;
    padding-bottom: 10px;
}

.agenda-footer-div {
    border-top-color: grey;
    border-top: solid;
    border-width: 1px;
    overflow: auto;
}

.agenda-modal-button {
    margin: 10px;
}

.agenda-cancel-div {
    height: 100%;
    width: 150px;
    text-align: center;
    color: white;
    background-color: orangered;
    float: right;
    vertical-align: middle;
}

.agenda-cancel-div:hover{
    background-color: orange;
}

.agenda-book-div {
    height: 100%;
    width: 150px;
    text-align: center;
    color: white;
    background-color: #64c83e;
    float: right;
    vertical-align: middle;
}

.agenda-book-div:hover{
    background-color: lightgreen;
}

.agenda-book-text {
    padding: 15px;
    cursor: pointer;
    cursor: hand;
}

.agenda-modal-seperator-div {
    width: 100%;
    height: 0px;
    background-color: #eaeaea;
}

.agenda-modal-body-div {
    width: 100%;
    /*height: 100px;*/
    border-left: 5px solid #65c93e;
    padding: 10px;
    padding-bottom: 20px;
}

.model-booking-status {
    color: #65c93e;
    font-weight: 600;
}

.pop-over-div {
    position: absolute;
    z-index: 100;
    -webkit-box-shadow: -4px 7px 10px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -4px 7px 10px 3px rgba(0, 0, 0, 0.3);
    box-shadow: -4px 7px 10px 3px rgba(0, 0, 0, 0.3);
}

.services-div {
    height: 200px;
    width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;

}

.service-text{
    color: grey;
    cursor: pointer;
    cursor: hand;
}

.service-text:hover{
    color:yellow;
}

.search-customer-div {
    height: 200px;
    width: 68%;
    clear: both;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;

}

.selected_service_outer_div {
    margin-right:5px;
    float: left
}

.selected_service_inner_div {
    border-radius: 10px;
    background: #65c93e;
    padding: 5px;
    margin-bottom: 5px;
}

.selected_service_text {
    color:white
}

.selected-services-block{
    padding-top: 15px;
    padding-bottom: 0px;
    overflow: auto;
}
.agenda-modal-div hr {
    margin-top: 10px;
    margin-bottom: 10px;
}


.service-link {
    float: left;
    margin-right: 20px;
}

.total-text {
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: #65c93e;
    padding: 15px;
}

.agenda-text-input{
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.agenda-col-left{
    padding-right:5px
}
.agenda-col-right{
    padding-left:5px
}

.agenda-button{
    float: right; width:25%;margin-top: 5px
}

.agenda-radio{
    margin-top: 5px;
    margin-left: 10px;
}

element.style {
    width: 95.5%;
}
