<div class="agenda-modal-div">
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--RWKX129-->
            <!--</div>-->
        <!--</div>-->
    <agenda-customer-select booking-details="booking_details" editable="editable" existing-customers="existing_customers" selected-customer="selected_customer"></agenda-customer-select>
    <div class="agenda-modal-seperator-div"></div>
    <div class="agenda-modal-body-div">
        <div class="row">
            <div class="col-xs-12">
                <div class="model-booking-status">Confirmed</div>
            </div>
        </div>
        <agenda-services-select booking-details="booking_details" shop-details="shop_details" services-services="selected_services" selected-group="selected_group" editable="editable"></agenda-services-select>
        <div class="row">
            <div class="col-sm-4">
                <div>Select Date</div>
                <agenda-date-select start="start"></agenda-date-select>
            </div>
            <div class="col-sm-4">
                <div>Time</div>
                <agenda-time-select start="start" editable="editable"></agenda-time-select>
            </div>
            <!--<div class="col-sm-3">-->
                <!--<div>Duration</div>-->
                <!--<agenda-duration-select start="start" end="end" editable="editable" selected-services="selected_services"></agenda-duration-select>-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<div>Staff Member</div>-->
                <!--<agenda-staff-select></agenda-staff-select>-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class = "service-link">
                    <!--Add Note-->
                </div>
                <div class ="service-link">
                    <!--No Show-->
                </div>
                <div class ="service-link">
                    <!--Cancel-->
                </div>
            </div>
        </div>

    </div>
    <div class="agenda-modal-seperator-div"></div>
</div>
<div class="agenda-footer-div">
    <div class ="total-text">
        £{{total_cost}}
    </div>
    <div class ="total-text">
        {{total_duration}} mins
    </div>
    <div class="agenda-book-div" ng-hide="editable">
        <div ng-click="book()" class="agenda-book-text">Create Booking</div>
    </div>
    <div class="agenda-book-div" ng-show="editable">
        <div ng-click="update_booking()" class="agenda-book-text">Update Booking</div>
    </div>
    <div class="agenda-cancel-div" ng-show="editable">
        <div ng-click="modal_instance.dismiss()" class="agenda-book-text">Cancel Booking</div>
    </div>
</div>
<div ng-show="!is_form_valid">
    <div class="agenda-footer-div centred" >
        <label class="error-message-div">{{error_message}}</label>
    </div>
</div>
