<div class="w-container home-container">
    <label class="column-title white forher">Booking Summary</label>
    <div class="w-list-unstyled menu-list">
        <ul class="w-list-unstyled menu-list" >
            <li class="" ng-repeat="service in selected_services" >
                <div class="menu-price">£{{service.price}}</div>
                <div class="menu-title">{{service.name}}</div>
                <div class="menu-title description">{{service.minutes}} mins</div>
            </li>
        </ul>
    </div>
    <label class="column-title white forher"></label>
        <div class="w-row">
            <div class="w-col w-col-6 ">
                <h4>Price: £{{total_price}}</h4>
            </div>
            <div class="w-col w-col-6 ">
                <h4>Time: {{start_date | date:'h:mma'}}</h4>
            </div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-6 ">
                <h4>Location: Kingscross</h4>
            </div>
            <div class="w-col w-col-6 ">
                <h4>Date: {{start_date | date:'dd/MM/yyyy'}}</h4>
            </div>
        </div>
        <div class="w-row">
            <button type="button" id="bookButton" class="btn btn-success ng-pristine" ng-click="book()">
                Confirm Booking
            </button>
        </div>
    </div>
</div>

