<service-menu shop="shop"
              selectable = "true"
              selservices="selected_services"
              price="total_price"
              duration="total_duration" >
</service-menu>
<div class="row">
    <div class="col-md-6">
        <label class="home-slide-title _2"> Total Price: £{{total_price}} Duration: {{total_duration}} mins</label>
    </div>
    <div class="col-md-6">
        <button type="button" id="bookButton" class="btn btn-success ng-pristine" ng-click="continue()">
            Continue
        </button>
    </div>
    <div ng-show="show_message">Please select at least one service</div>
</div>
