.sham-spinner-blocker {
    background: #333;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5000;
    font-size: 48px;
}

.sham-spinner-container {
    border: none;
    /*background-color: none;*/
    display: table;
    position: relative;
    width: auto;
    top: 45%;
    margin: auto;
    font-size: 48px;
}

.spinner {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    font-size: 48px;
}


.navbar a {
    color: white;
}

.navbar a:active {
    color: #f7e734;
}
.navbar a:hover {
    color: #f7e734;
}

.navbar li:hover {
    color: #f7e734;
}


a.navbar-brand {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
}
.navbar {
    margin-bottom: 0px;
    font-family: Oswald, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    width: 100%;
    background-color: black;
}

a.navbar-brand:hover {
    color: #FFF;
}

#revo-logo{
    color: #f7e734;
    padding-right: 0px;
    margin-right: 0px;
}

body {
    height: 100px;
    background-color: black;
    font-family: Oswald, 'Helvetica Neue', Helvetica, sans-serif;
    color: #cacaca;
    font-size: 14px;
    line-height: 24px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Oswald, sans-serif;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
}

h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: Oswald, sans-serif;
    font-size: 33px;
    line-height: 33px;
    font-weight: 700;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    color: #9e9e9e;
    font-size: 27px;
    line-height: 29px;
    font-weight: 300;
    text-transform: none;
}

h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 23px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Oswald, sans-serif;
    color: black;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Oswald, sans-serif;
    color: #db1464;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
}

.button {
    display: inline-block;
    margin-top: 15px;
    padding: 11px 15px;
    border-radius: 2px;
    background-color: black;
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: #d90246;
}

.button.red {
    margin-top: 40px;
    padding: 20px 25px;
    background-color: #d90246;
    font-size: 16px;
}

.button.red:hover {
    background-color: white;
    color: black;
}

.button.reserve-button {
    padding-top: 12px;
    background-color: #45c5d6;
    font-size: 16px;
    line-height: 17px;
}

.button.reserve-button:hover {
    background-color: white;
    color: black;
}

.button.pink {
    margin-left: 6px;
    background-color: #d90246;
}

.button.pink:hover {
    background-color: #45c5d6;
}

.button.submit {
    width: 100%;
    margin-top: 6px;
    background-color: #db1464;
}

.button.submit:hover {
    background-color: black;
}

.button.black {
    padding-right: 25px;
    padding-left: 25px;
    background-color: #f7e734;
    font-size: 15px;
    line-height: 30px;
}

.button.black:hover {
    background-color: white;
    color: black;
}

.navbar.navbarfixed {
    display: block;
}

.nav-menu {
    margin-top: -3px;
    margin-left: 36px;
    background-color: transparent;
    text-align: center;
}

.home-hero {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    background-color: #bfbfbf;
}

.home-slider {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.section {
    position: relative;
    padding-top: 130px;
    padding-bottom: 120px;
    background-color: white;
}

.section.red {
    background-color: #d90246;
    text-align: center;
}

.section.tint {
    height: 40vh;
    min-height: 360px;
    padding-top: 64px;
    background-color: #ededed;
    color: black;
}

.section.home-intro {
    height: 40vh;
    min-height: 350px;
    padding-top: 42px;
    padding-bottom: 87px;
    background-color: #5bb944;
    text-align: center;
}

.section.dark {
    height: auto;
    padding-top: 51px;
    padding-bottom: 15px;
    background-color: #151517;
    color: white;
}

.section.waiters {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section.newsletter-section {
    height: 50vh;
    min-height: 350px;
    padding-top: 46px;
    padding-bottom: 53px;
}

.home-slide {
    background-image: url('../../images/Gallery-3.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.home-slide._2 {
    background-image: url('../../images/Foto-1.jpg');
}

.home-slide._3 {
    background-image: url('../../images/Gallery-5.jpg');
}

/*.home-slide-container {*/
    /*position: relative;*/
    /*height: auto;*/
    /*padding-top: 46%;*/
    /*text-align: right;*/
/*}*/

.home-slide-title {
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: Oswald, sans-serif;
    color: #f7e734;
    font-size: 95px;
    line-height: 100px;
    font-weight: 900;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
}

.home-slide-title._2 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
    font-size: 29px;
    line-height: 48px;
    font-weight: 200;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.menu-button {
    width: 70px;
    height: 70px;
    margin-top: 30px;
    margin-right: 30px;
    padding-top: 13px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #e30d18;
    -webkit-transition: background-color 500ms ease, background-position 500ms ease;
    transition: background-color 500ms ease, background-position 500ms ease;
    color: white;
    font-size: 34px;
    text-align: center;
}

.menu-button:hover {
    background-color: black;
    background-position: 50% 9px, 50% -36px;
}

.menu-button.w--open {
    position: relative;
    z-index: 20;
    background-color: #525252;
}

.nav-link {
    display: inline-block;
    height: 70px;
    margin-left: 30px;
    padding-top: 26px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-transition: background-color 500ms ease, border 500ms ease;
    transition: background-color 500ms ease, border 500ms ease;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/*.nav-link:hover {*/
    /*color: white;*/
/*}*/

.nav-link.w--current {
    background-color: transparent;
    color: #f7e734;
}

.home-slider-navigation {
    padding-bottom: 80px;
    font-size: 8px;
}

.service-column {
    text-align: center;
}

.service-title {
    margin-top: 0px;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 25px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.service-title.subtitle {
    font-size: 15px;
    font-weight: 400;
}

.container {
    position: relative;
}

.container.centered {
    margin-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
    text-align: center;
}

._2-column-row {
    position: relative;
    z-index: 10;
}

.text-column-right {
    padding-right: 0px;
    padding-left: 55px;
}

.footer {
    position: relative;
    min-height: 300px;
    padding-top: 50px;
    background-color: #2e2d2e;
    color: white;
    font-size: 13px;
    line-height: 23px;
}

.bottom-footer {
    position: relative;
    background-color: black;
    text-align: center;
}

.bottom-footer-text {
    display: inline-block;
    margin-right: 15px;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
}

.footer-icon-circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 100%;
    background-color: #5bb944;
}

.link {
    font-family: Montserrat, sans-serif;
    color: #d90246;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
}

.link:hover {
    color: black;
}

.link.bottom-footer-link {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    font-family: Montserrat, sans-serif;
    color: #828282;
    font-size: 11px;
}

.link.bottom-footer-link:hover {
    color: #e30d18;
}

.link.stats-link {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    color: #aba9a9;
    font-size: 13px;
    text-align: center;
}

.link.stats-link:hover {
    color: white;
}

.link.white {
    color: #5bb944;
}

.link.white:hover {
    color: white;
}

.link.faq-link {
    display: block;
    color: #db1464;
}

.link.faq-link:hover {
    color: black;
}

.list-item-white-title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Oswald, sans-serif;
    color: #5bb944;
    font-size: 17px;
    line-height: 21px;
    font-weight: 900;
    text-transform: uppercase;
}

.slider-arrow-icon {
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    font-size: 24px;
    font-weight: 700;
}

.hamburger-icon {
    font-size: 46px;
}

.page-header {
    background-color: #d90246;
    background-image: url('../../images/Gallery-9.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.page-header.at-location {
    background-image: url('../../images/Gallery-3.jpg');
    background-position: 50% 0px;
}

.page-header.faq {
    background-image: url('../../images/Gallery-3.jpg');
    background-position: 50% 0px;
}

.page-header-overlay {
    padding-top: 220px;
    padding-bottom: 130px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    text-align: center;
}

.page-header-overlay:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.page-header-overlay.transparant {
    padding-bottom: 130px;
    background-color: transparent;
}

.page-header-overlay._404 {
    padding-top: 350px;
    padding-bottom: 350px;
}

.logo-container {
    padding-top: 15px;
    float: left;
    text-align: left;
    text-decoration: none;
}

.logo-container.w--current {
    padding-top: 20px;
}

.pricing-features-row {
    margin-top: 45px;
}

.pricing-features-column {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.pricing-block {
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 15px 0px;
    text-align: center;
}

.pricing-block:hover {
    position: relative;
    z-index: 2;
}

.pricing-block-title {
    padding: 20px 12px;
    background-color: #d90246;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 35px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.pricing-block-list-item {
    padding: 25px 12px 22px;
    border-bottom: 1px none rgba(0, 0, 0, 0.1);
}

.pricing-block-list-item.price {
    background-color: black;
    color: white;
}

.pricing-block-list-item.odd {
    background-color: #f7f7f7;
}

.pricing-block-item-title {
    margin-bottom: 7px;
    font-family: Oswald, sans-serif;
    color: #d90246;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing-block-item-title.description {
    margin-bottom: 2px;
    color: black;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    text-transform: none;
}

.pricing-block-item-title.description.white {
    color: #a3a2a2;
}

.pricing-price {
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 42px;
    line-height: 35px;
    font-weight: 700;
}

.pricing-feature-title {
    margin-bottom: 15px;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.white-paragraph {
    color: white;
}

.experience-section {
    position: relative;
    z-index: 2;
    margin-bottom: -230px;
}

.white-section-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 60px;
    line-height: 59px;
    text-transform: uppercase;
    text-align: center;
}

.white-section-title._2 {
    margin-bottom: 0px;
    font-size: 23px;
    line-height: 27px;
    font-weight: 100;
}

.service-icon {
    height: 75px;
    margin-bottom: 30px;
    opacity: 0.6;
}

.slider-button-left {
    position: absolute;
    width: 130px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
}

.slider-button-left:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.slider-button-right {
    width: 130px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
}

.slider-button-right:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1000;
    padding-top: 45px;
}

.fixed-navbar-wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1000;
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
}

.home-slide-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

.home-slide-overlay:hover {
    background-color: rgba(0, 0, 0, 0.34);
}

/*.slider-text-block {*/
    /*position: absolute;*/
    /*left: 0px;*/
    /*top: 30%;*/
    /*display: block;*/
    /*width: 100%;*/
/*}*/

.cta-title {
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 49px;
    line-height: 51px;
    font-weight: 700;
    text-transform: uppercase;
}

.cta-title.subtitle {
    font-size: 29px;
    font-weight: 300;
}

.feature-col {
    padding-right: 25px;
}

.feature-row {
    margin-top: 20px;
}

.text-column-left {
    padding-right: 10px;
}

.home-section {
    position: relative;
    width: 100%;
    height: 80vh;
    min-height: 550px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: white;
}

.home-section.whyrevowax {
    min-height: 500px;
    height: 60vh;
}

.home-container {
    position: relative;
    display: block;
    margin: auto;
    text-align: left;
}

.home-container.centered {
    padding-right: 140px;
    padding-left: 140px;
}

.section-button-block-bottom {
    display: block;
    height: 60px;
    margin-top: 60px;
    padding-top: 15px;
    text-align: center;
}

.column-title {
    margin-top: 0px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-color: #5bb944;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    font-family: Oswald, sans-serif;
    color: black;
    font-size: 52px;
    line-height: 52px;
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.column-title.white {
    margin-top: 26px;
    color: white;
}

.column-title.white.forhim {
    border-color: #f7e734;
}

.column-title.white.forher {
    border-color: #f7e734;
}

.column-title.white.subtitle {
    margin-bottom: 2px;
    padding-bottom: 0px;
    border-style: none;
    font-size: 35px;
}

.column-title.smaller {
    font-size: 47px;
}

.image-column-left {
    text-align: center;
}

.image-column-left.lower {
    padding-top: 0px;
}

.arrow-icon {
    display: block;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
}

.arrow-icon:hover {
    opacity: 0.6;
}

.section-tooltip {
    display: inline-block;
    margin-top: 10px;
    padding: 4px 8px 6px;
    border-radius: 3px;
    background-color: #bd003c;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}

.section-tooltip:hover {
    background-color: black;
}

.image-column-right {
    padding-top: 40px;
    padding-right: 0px;
    text-align: center;
}

.drink-tabs-menu {
    position: static;
    left: 0px;
    top: 0px;
    z-index: 10;
    display: inline-block;
    width: 35%;
    padding-left: 0px;
    float: left;
    text-align: left;
}

.drinks-tab-pane {
    width: 90%;
    padding-top: 56px;
    padding-right: 0px;
    padding-left: 0px;
    float: right;
    text-align: left;
}

.drinks-tab-pane.forherintimate {
    margin-top: 73px;
}

.drinks-tab-pane.forherbody {
    margin-top: 72px;
}

.drinks-tab-pane.smalltext {
    font-size: 14px;
}

.drink-tab-button {
    position: static;
    display: block;
    margin-bottom: 4px;
    padding: 13px 0px 11px 40px;
    border-radius: 3px;
    background-color: white;
    background-image: url('../../images/Icon-arrow-right.png');
    background-position: 12px 50%;
    background-size: auto 17px;
    background-repeat: no-repeat;
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-size: 16px;

}

.drink-tab-button:hover {
    background-color: #353538;
    background-image: url('../../images/Icon-arrow-right-white.png');
    color: white;
}

.drink-tab-button.w--current {
    padding-left: 45px;
    background-color: #f7e734;
    background-image: url('../../images/Icon-arrow-right-white.png');
    background-position: 13px 50%;
    color: white;
}

.feature-container {
    margin-top: 32px;
    margin-bottom: 29px;
}

.feature-wrapper {
    padding-top: 5px;
}

.page-header-title {
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 90px;
    line-height: 75px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px;
}

.page-header-title.subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    text-transform: uppercase;
}

.color-page-header {
    background-color: #d90246;
}

.field {
    height: 45px;
    margin-bottom: 3px;
    border: 2px solid #e3e3e3;
    border-radius: 2px;
    -webkit-transition: border 500ms ease;
    transition: border 500ms ease;
    font-family: Lato, sans-serif;
    font-size: 14px;
    text-align: center;
}

.field:hover {
    border-color: black;
}

.field:focus {
    border-color: #e30d18;
}

.field.area {
    height: 110px;
    padding-top: 12px;
}

.experience-text-block {
    width: 100%;
    padding: 55px;
    background-color: #5bb944;
    color: white;
    text-align: center;
}

.experience-text-block.black {
    background-color: black;
}

.experience-text-block.blue {
    background-color: #2e467d;
}

.quote-title {
    font-family: Oswald, sans-serif;
    font-size: 29px;
}

.quote-subtitle {
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 14px;
    line-height: 24px;
}

.quote-name {
    margin-top: 25px;
    color: white;
    font-size: 16px;
}

.experience-bottom-section {
    position: relative;
    z-index: 1;
    background-image: url('../../images/Gallery-7.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.experience-bottom-section-overlay {
    padding-top: 330px;
    padding-bottom: 150px;
    background-image: -webkit-linear-gradient(#1a1a1a, rgba(26, 26, 26, 0.74) 51%);
    background-image: linear-gradient(#1a1a1a, rgba(26, 26, 26, 0.74) 51%);
    text-align: center;
}

.experience-body {
    background-color: #1a1a1a;
}

.faq-container {
    margin-top: 45px;
    margin-bottom: 55px;
    padding-bottom: 25px;
    border-bottom: 2px solid #dbdbdb;
}

.faq-container.last {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-style: none;
}

.faq-title {
    margin-bottom: 30px;
    font-family: Oswald, sans-serif;
    color: #db1464;
    font-size: 31px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.question-block {
    margin-bottom: 35px;
}

.faq-paragraph {
    margin-top: 15px;
    line-height: 23px;
}

.success-bg {
    padding-top: 20px;
    border-radius: 3px;
    background-color: #db1464;
    color: white;
    text-align: center;
}

.error-bg {
    padding-top: 19px;
    padding-left: 21px;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 13px;
    line-height: 16px;
}

.feature-icon {
    height: 60px;
    margin-bottom: 25px;
}

.faq-column {
    padding-right: 25px;
}

.text-logo {
    float: left;
    font-family: Montserrat, sans-serif;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
}

.text-logo.subtitle {
    font-size: 13px;
    line-height: 19px;
}

.text-logo.revo {
    color: #f7e734;
}

.text-logo.wax {
    color: white;
}

.image-section {
    /*background-image: url('../../images/Gallery-7.jpg');*/
    /*background-position: 50% 50%;*/
    /*background-attachment: scroll;*/
}

.image-section.public-events {
    background-image: url('../../images/Gallery-9.jpg');
    background-size: cover;
}

.image-section-overlay {
    width: 100%;
    /*height: 20vh;*/
    /*min-height: 170px;*/
    padding-top: 33px;
    padding-bottom: 33px;
    background-color: rgba(0, 0, 0, 0.6);
}

.icon-block {
    text-align: center;
}

.icon-wrapper {
    display: inline-block;
    height: 100px;
    margin-right: 24px;
    padding-top: 26px;
    padding-right: 21px;
    float: left;
    border-right: 2px solid rgba(255, 255, 255, 0.29);
}

.stats-icon {
    height: 50px;
    opacity: 0.4;
}

.stat-title {
    margin-right: 8px;
    padding-right: 9px;
    padding-left: 7px;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 52px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.stat-title.description {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.dancer-image {
    position: absolute;
    top: -196px;
    right: 0px;
    height: 500px;
}

.newsletter-form {
    position: relative;
    z-index: 40;
    margin-bottom: 25px;
}

.newsletter-field {
    width: 68%;
    height: 50px;
    margin-right: 2%;
    margin-bottom: 0px;
    float: left;
    border: 2px solid #e0e0e0;
    font-family: Montserrat, sans-serif;
}

.newsletter-button {
    width: 30%;
    height: 50px;
    border-radius: 2px;
    background-color: #5bb944;
    font-family: Montserrat, sans-serif;
}

.newsletter-button:hover {
    background-color: black;
}

.newsletter-col-left {
    padding-right: 85px;
}

.gallery-section {
    background-color: #151517;
}

.gallery-lightbox {
    position: relative;
}

.intro-image {
    position: absolute;
    left: 1200px;
    top: 0px;
    bottom: 0px;
    height: 350px;
}

.image-background-section {
    background-color: #f2f2f2;
    background-image: url('../../images/Image-section-1.jpg');
    background-position: 100% 0px;
    background-size: auto 950px;
    background-repeat: no-repeat;
}

.image-background-section.invite {
    background-image: url('../../images/Image-section-2.jpg');
}

.image-background-section.pricing-plans {
    background-size: auto 1020px;
}

.background-image-section-overlay {
    display: none;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: rgba(242, 242, 242, 0.49);
    background-image: -webkit-linear-gradient(left, rgba(242, 242, 242, 0.49), rgba(242, 242, 242, 0));
    background-image: linear-gradient(to right, rgba(242, 242, 242, 0.49), rgba(242, 242, 242, 0));
}

.background-image-section-overlay.invite {
    background-image: -webkit-linear-gradient(left, #f2f2f2 23%, rgba(242, 242, 242, 0));
    background-image: linear-gradient(to right, #f2f2f2 23%, rgba(242, 242, 242, 0));
}

.fixed-buttons-bottom-right {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 2000;
}

.fixed-button {
    padding: 20px 25px;
    background-color: rgba(247, 231, 52, 0.72);
    text-decoration: none;
}

.fixed-button:hover {
    background-color: black;
}

.fixed-button-title {
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 32px;
    line-height: 22px;
    text-transform: uppercase;
}

.fixed-button-title.subtitle {
    margin-top: 6px;
    font-size: 12px;
    line-height: 12px;
}

.fixed-button-title.subtitle:hover {
    text-decoration: underline;
}

.feature-icon-left {
    height: 20px;
    margin-right: 12px;
    float: left;
    color: #5bb944;
}

.invite-row {
    margin-bottom: 50px;
}

.upcoming-row {
    margin-bottom: 20px;
}

.upcoming-event-block {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 180px;
    background-image: url('../../images/Gallery-5.jpg');
    background-position: 100% 0px;
    background-size: cover;
}

.upcoming-event-block._2 {
    background-image: url('../../images/Gallery-4.jpg');
    background-position: 100% -24px;
}

.upcoming-event-block._3 {
    background-image: url('../../images/Gallery-7.jpg');
    background-position: 100% -43px;
}

.upcoming-event-block._4 {
    background-image: url('../../images/Image-section-2.jpg');
}

.upcoming-event-overlay-block {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    height: 100%;
    padding: 25px;
    background-color: rgba(217, 2, 70, 0.9);
    color: white;
    font-size: 13px;
    line-height: 17px;
}

.container {
    position: static;
    margin-bottom: 0px;
}

.facebook-image {
    position: absolute;
    left: -10px;
    top: -95px;
    height: 620px;
}

.gallery-column {
    padding-right: 0px;
    padding-left: 0px;
}

.gallery-slider {
    height: 500px;
    background-color: black;
}

.gallery-slide {
    background-image: url('../../images/Gallery-9.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.gallery-slide._2 {
    background-image: url('../../images/Gallery-2.jpg');
}

.gallery-slide._3 {
    background-image: url('../../images/Gallery-7.jpg');
}

.gallery-slider-nav {
    padding-right: 45px;
    padding-bottom: 53px;
    font-size: 8px;
    text-align: right;
}

.gallery-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    padding-top: 26%;
    background-color: transparent;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    text-align: center;
}

.gallery-overlay:hover {
    background-color: rgba(219, 20, 100, 0.7);
}

.gallery-overlay.large {
    padding-top: 71%;
}

.gallery-icon {
    height: 60px;
}

.gallery-slide-overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 142px 45px 62px;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 76%);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 76%);
}

.gallery-slide-title {
    position: relative;
    z-index: 20;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
}

.gallery-slide-title.subtitle {
    font-size: 19px;
    line-height: 22px;
    font-weight: 300;
}

.menu-tabs {
    position: static;
    margin-bottom: 58px;
    text-align: right;
}

.menu-list {
    margin-top: 0px;
}

.menu-list-item {
    margin-bottom: 10px;
    padding-bottom: 0px;
    border-bottom: 1px dashed #4a4a4a;
}

.menu-title {
    font-family: Oswald, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.menu-title.description {
    margin-top: 0px;
    font-family: Montserrat, sans-serif;
    color: #a6a6a6;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.menu-price {
    width: 60px;
    margin-top: 12px;
    padding-right: 9px;
    padding-left: 9px;
    float: right;
    border-radius: 2px;
    background-color: #353538;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.menu-price.extra {
    background-color: #db1464;
}

.tab-title {
    font-family: Oswald, sans-serif;
}

.dancer-2-image {
    position: absolute;
    top: -238px;
    right: 0px;
    height: 475px;
}

.title-wrapper-block {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
    text-align: center;
}

.event-title {
    margin-bottom: 16px;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 18px;
    line-height: 22px;
}

.event-title.date {
    font-size: 15px;
    line-height: 12px;
    font-weight: 300;
}

.event-info-block {
    display: inline-block;
    margin-right: 7px;
    padding: 6px 14px 6px 11px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}

.event-info-icon {
    height: 21px;
    margin-right: 6px;
    float: left;
}

.event-info-title {
    margin-top: 2px;
    float: left;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
}

.popup {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3000;
    display: none;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 55px;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-block {
    display: block;
    width: 420px;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    text-align: center;
}

.popup-title {
    font-family: Oswald, sans-serif;
    color: #d90246;
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.popup-title.subtitle {
    color: black;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
}

.popup-content-block {
    position: relative;
    padding: 35px 45px;
}

.popup-form {
    margin-bottom: 0px;
    padding: 35px 45px;
    background-color: #f2f2f2;
}

.close-popup-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding-top: 9px;
    background-color: #dbdbdb;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
}

.close-popup-button:hover {
    background-color: black;
}

.close-icon {
    height: 18px;
}

.feature-column {
    position: static;
}

.about-us-col-left {
    position: relative;
    z-index: 10;
}

.about-us-image {
    position: absolute;
    top: -180px;
    right: 0px;
    z-index: 1;
    height: 604px;
}

.faq-row {
    margin-top: 40px;
}

.faq-col-left {
    padding-right: 25px;
}

.faq-col-right {
    padding-left: 25px;
}

.faq-list-item {
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #d6d6d6;
}

.team-tabs-menu {
    position: absolute;
    top: 100px;
    z-index: 10;
    width: 260px;
    float: left;
}

.team-tabs-pane {
    height: 645px;
    padding-right: 60px;
    padding-left: 170px;
}

.team-tab-button {
    display: block;
    width: 100%;
    margin-bottom: 7px;
    border-radius: 3px;
    background-color: rgba(242, 242, 242, 0.8);
    -webkit-transition: background-color 250ms ease, box-shadow 300ms ease;
    transition: background-color 250ms ease, box-shadow 300ms ease;
}

.team-tab-button:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
    color: #d90246;
}

.team-tab-button.w--current {
    background-color: #353538;
    color: white;
}

.team-tab-button.w--current:hover {
    background-color: #353538;
    color: white;
}

.team-tab-image {
    height: 642px;
    float: left;
}

.team-tab-title {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    line-height: 29px;
}

.team-tab-title._2 {
    margin-top: 0px;
    margin-bottom: 31px;
    color: #d90246;
    font-size: 44px;
    line-height: 49px;
    font-weight: 700;
    text-transform: uppercase;
}

.team-tab-button-title {
    margin-top: 18px;
    float: left;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.team-tab-button-image {
    width: 60px;
    height: 60px;
    margin-right: 17px;
    float: left;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.49) 0px 0px 4px 0px;
}

.team-tab-content-block {
    margin-top: 175px;
}

.pricing-description {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 21px;
}

.faq-image {
    position: absolute;
    top: -64px;
    right: 0px;
    z-index: 15;
    height: 500px;
}

.videobackground {
    position: static;
    z-index: -1;
    height: 100vh;
}

.notused {
    display: none;
}

.backgrounddiv {
    display: none;
    height: auto;
    margin-bottom: 0px;
    padding-top: 55px;
    padding-bottom: 62px;
    background-color: #5bb944;
}

.div-backgroundvideo {
    position: static;
    z-index: -1;
    display: block;
}

.div-videomask {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(219, 20, 100, 0.3);
}

.videoslidediv {
    position: relative;
    z-index: 1;
}

.videoslide {
    background-color: transparent;
}

.section-videobackground {
    position: relative;
    z-index: 0;
}

.videobackgroundmask {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    display: block;
}

.fixednavbardiv {
    background-color: black;
}

.slider-services {
    z-index: 0;
    height: auto;
    background-color: transparent;
}

.div-leftarrow {
    left: -147px;
}

.div-rightarrow {
    position: absolute;
    left: 1000px;
}

.mask-services {
    height: auto;
}

.image-for {
    margin-top: 105px;
}

.tabcontentservices {
    margin-top: 25px;
}

.socialmediaimage {
    width: 100px;
    margin-bottom: 34px;
}

.questionbullettext {
    font-family: Montserrat, sans-serif;
    line-height: 28px;
    letter-spacing: normal;
}

.salonbanner {
    position: relative;
    z-index: 1;
    height: 400px;
    min-width: 100%;
}

.salonbanneroverlay {
    position: static;
    z-index: 2;
    height: 300px;
    background-color: #0098ff;
    background-image: url('../../images/Banner.jpg');
    background-position: 0px 0px;
    background-size: cover;
}

.submitbutton {
    width: 200px;
    margin-top: 23px;
    clear: none;
}

.divright {
    text-align: right;
}

html.w-mod-js *[data-ix="slider-title-animation"] {
    opacity: 0;
    -webkit-transform: translate(-50px, 0px);
    -ms-transform: translate(-50px, 0px);
    transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="slider-title-animation-2"] {
    opacity: 0;
    -webkit-transform: translate(50px, 0px);
    -ms-transform: translate(50px, 0px);
    transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="slider-title-animation-3"] {
    opacity: 0;
    -webkit-transform: translate(0px, 35px);
    -ms-transform: translate(0px, 35px);
    transform: translate(0px, 35px);
}

html.w-mod-js *[data-ix="tab-element-1"] {
    opacity: 0;
    -webkit-transform: translate(0px, -25px);
    -ms-transform: translate(0px, -25px);
    transform: translate(0px, -25px);
}

html.w-mod-js *[data-ix="tab-element-2"] {
    opacity: 0;
    -webkit-transform: translate(0px, -25px);
    -ms-transform: translate(0px, -25px);
    transform: translate(0px, -25px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll-1"] {
    opacity: 0;
    -webkit-transform: translate(0px, 40px);
    -ms-transform: translate(0px, 40px);
    transform: translate(0px, 40px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll-2"] {
    opacity: 0;
    -webkit-transform: translate(0px, 40px);
    -ms-transform: translate(0px, 40px);
    transform: translate(0px, 40px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll-3"] {
    opacity: 0;
    -webkit-transform: translate(0px, 40px);
    -ms-transform: translate(0px, 40px);
    transform: translate(0px, 40px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll-4"] {
    opacity: 0;
    -webkit-transform: translate(0px, 40px);
    -ms-transform: translate(0px, 40px);
    transform: translate(0px, 40px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll-5"] {
    opacity: 0;
    -webkit-transform: translate(0px, 40px);
    -ms-transform: translate(0px, 40px);
    transform: translate(0px, 40px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll-6"] {
    opacity: 0;
    -webkit-transform: translate(0px, 40px);
    -ms-transform: translate(0px, 40px);
    transform: translate(0px, 40px);
}

html.w-mod-js *[data-ix="logo-fade-in-on-load"] {
    opacity: 0;
}

html.w-mod-js *[data-ix="dot-navlink-text"] {
    display: none;
    opacity: 0;
    -webkit-transform: translate(15px, 0px);
    -ms-transform: translate(15px, 0px);
    transform: translate(15px, 0px);
}

html.w-mod-js *[data-ix="hide-left-arrow"] {
    opacity: 0;
    -webkit-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate(-100px, 0px);
}

html.w-mod-js *[data-ix="hide-right-arrow"] {
    opacity: 0;
    -webkit-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate(100px, 0px);
}

html.w-mod-js *[data-ix="show-navbar"] {
    opacity: 0;
}

html.w-mod-js *[data-ix="fixed-navbar"] {
    display: none;
    opacity: 0;
}

html.w-mod-js *[data-ix="show-section-arrow"] {
    opacity: 0;
    -webkit-transform: translate(0px, -50px);
    -ms-transform: translate(0px, -50px);
    transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="hide-tooltip"] {
    opacity: 0;
    -webkit-transform: translate(0px, 20px);
    -ms-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="page-title"] {
    opacity: 0;
    -webkit-transform: translate(0px, 50px);
    -ms-transform: translate(0px, 50px);
    transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="page-title-2"] {
    opacity: 0;
    -webkit-transform: translate(0px, 50px);
    -ms-transform: translate(0px, 50px);
    transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="page-title-3"] {
    opacity: 0;
    -webkit-transform: translate(0px, 50px);
    -ms-transform: translate(0px, 50px);
    transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="experience-fade-in-element"] {
    opacity: 0;
}

html.w-mod-js *[data-ix="hide-gallery-icon"] {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

html.w-mod-js *[data-ix="hide-popup"] {
    display: none;
    opacity: 0;
}

html.w-mod-js *[data-ix="hide-popup-block"] {
    display: none;
    opacity: 0;
    -webkit-transform: translate(0px, 50px);
    -ms-transform: translate(0px, 50px);
    transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="team-tab-image"] {
    opacity: 0;
    -webkit-transform: translate(50px, 0px);
    -ms-transform: translate(50px, 0px);
    transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="team-tab-text"] {
    opacity: 0;
    -webkit-transform: translate(50px, 0px);
    -ms-transform: translate(50px, 0px);
    transform: translate(50px, 0px);
}

@media (max-width: 991px) {
    body {
        font-size: 13px;
        line-height: 18px;
    }

    h4 {
        font-size: 19px;
    }

    .button {
        margin-top: 10px;
    }

    .navbar {
        overflow-x: visible;
        overflow-y: visible;
        padding-top: 0px;
    }

    .nav-menu {
        position: absolute;
        z-index: 1001;
        display: block;
        min-width: 270px;
        margin-top: 0px;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .section {
        padding: 55px 45px;
    }

    .section.home-intro {
        padding: 44px 45px 65px;
    }

    .section.waiters {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section.newsletter-section {
        padding-top: 100px;
    }

    /*.home-slide-container {*/
        /*padding-right: 45px;*/
        /*padding-left: 45px;*/
    /*}*/

    .home-slide-title {
        margin-bottom: 10px;
        font-size: 65px;
    }

    .home-slide-title._2 {
        margin-top: 0px;
        font-size: 24px;
        line-height: 28px;
    }

    .menu-button {
        margin-top: -4px;
        background-color: #d90246;
    }

    .nav-link {
        display: block;
        max-width: 900px;
        margin-left: 0px;
        border-top: 2px none #404040;
        border-bottom: 1px solid #292929;
        color: white;
    }

    .nav-link:hover {
        background-color: white;
        color: #d90246;
    }

    .service-column {
        padding-right: 5px;
        padding-left: 5px;
    }

    .service-title.subtitle {
        margin-bottom: 18px;
    }

    .container.centered {
        padding-right: 65px;
        padding-left: 65px;
    }

    .footer {
        padding-top: 65px;
        font-size: 12px;
        line-height: 17px;
    }

    .bottom-footer {
        margin-top: 35px;
    }

    .footer-icon-circle {
        width: 70px;
        height: 70px;
        margin-bottom: 14px;
    }

    .link.white {
        font-size: 12px;
    }

    .link.faq-link {
        font-size: 13px;
        line-height: 21px;
    }

    .list-item-white-title {
        margin-bottom: 15px;
    }

    .page-header-overlay {
        padding: 185px 35px 90px;
    }

    .page-header-overlay.transparant {
        padding-top: 165px;
        padding-bottom: 70px;
    }

    .page-header-overlay._404 {
        padding-top: 250px;
        padding-bottom: 250px;
    }

    .logo-container.responsive-menu {
        display: block;
        padding-top: 35px;
        padding-bottom: 25px;
        float: none;
        background-color: #292929;
        text-align: center;
    }

    .pricing-column {
        padding-right: 5px;
        padding-left: 5px;
    }

    .pricing-block-title {
        font-size: 25px;
        line-height: 28px;
    }

    .pricing-price {
        font-size: 32px;
        line-height: 25px;
    }

    .white-section-title {
        margin-bottom: 16px;
        font-size: 42px;
        line-height: 47px;
    }

    .service-icon {
        height: 65px;
        margin-bottom: 18px;
    }

    .slider-button-left {
        width: 90px;
        height: 70px;
    }

    .slider-button-right {
        width: 90px;
        height: 70px;
    }

    .navbar-wrapper {
        padding-top: 0px;
    }

    .fixed-navbar-wrapper {
        margin-top: -42px;
    }

    /*.slider-text-block {*/
        /*padding-right: 45px;*/
        /*padding-left: 45px;*/
    /*}*/

    .cta-title {
        font-size: 36px;
        line-height: 43px;
    }

    .cta-title.subtitle {
        font-size: 23px;
        line-height: 36px;
    }

    .home-section {
        padding-top: 65px;
        padding-right: 45px;
        padding-bottom: 65px;
    }

    .home-section.whyrevowax {
        padding-right: 20px;
        padding-left: 20px;
    }

    .home-container.centered {
        padding-right: 55px;
        padding-left: 55px;
    }

    .section-button-block-bottom {
        margin-top: 20px;
    }

    .column-title {
        margin-bottom: 15px;
        padding-bottom: 15px;
        font-size: 38px;
        line-height: 40px;
    }

    .column-title.smaller {
        font-size: 33px;
        line-height: 36px;
    }

    .drinks-tab-pane {
        padding-top: 53px;
        padding-right: 1px;
    }

    .feature-container {
        margin-top: 25px;
    }

    .page-header-title {
        font-size: 60px;
        line-height: 55px;
    }

    .experience-text-block {
        padding: 25px;
    }

    .quote-title {
        margin-bottom: 15px;
        font-size: 19px;
        line-height: 25px;
    }

    .quote-subtitle {
        font-size: 11px;
        line-height: 18px;
    }

    .experience-bottom-section-overlay {
        padding-top: 295px;
        padding-bottom: 80px;
    }

    .faq-container {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .text-logo {
        color: white;
    }

    .text-logo.subtitle {
        color: white;
    }

    .image-section-overlay {
        padding: 65px 45px;
    }

    .icon-wrapper {
        margin-right: 10px;
        padding-right: 10px;
    }

    .stats-icon {
        height: 40px;
    }

    .stat-title {
        font-size: 42px;
    }

    .stat-title.description {
        font-size: 13px;
        line-height: 20px;
    }

    .dancer-image {
        top: -41px;
        z-index: 1;
        height: 400px;
    }

    .newsletter-field {
        font-size: 12px;
    }

    .newsletter-col-left {
        position: relative;
        z-index: 10;
    }

    .intro-image {
        left: -60px;
        bottom: -23px;
        height: 440px;
    }

    .image-background-section {
        background-size: auto 740px;
    }

    .background-image-section-overlay {
        padding: 65px 45px;
    }

    .background-image-section-overlay.invite {
        padding-bottom: 59px;
    }

    .invite-row {
        margin-bottom: 32px;
    }

    .upcoming-event-overlay-block {
        width: 60%;
        padding-top: 33px;
    }

    .facebook-image {
        height: 470px;
    }

    .gallery-slider {
        height: 230px;
    }

    .gallery-icon {
        height: 40px;
    }

    .gallery-slide-title {
        font-size: 19px;
        line-height: 27px;
    }

    .gallery-slide-title.subtitle {
        font-size: 15px;
    }

    .dancer-2-image {
        top: -100px;
        height: 335px;
    }

    .title-wrapper-block {
        margin-bottom: 40px;
    }

    .event-title {
        font-size: 16px;
    }

    .event-info-block {
        margin-right: 6px;
        padding-right: 8px;
        padding-left: 8px;
    }

    .event-info-icon {
        height: 16px;
    }

    .event-info-title {
        line-height: 13px;
    }

    .about-us-image {
        top: -94px;
        height: 374px;
    }

    .team-tabs-pane {
        padding-right: 8px;
    }

    .team-tab-button {
        padding-right: 20px;
        padding-left: 20px;
    }

    .team-tab-title._2 {
        font-size: 44px;
        line-height: 43px;
    }

    .faq-image {
        top: -71px;
        height: 370px;
    }

    .stats-col {
        padding-right: 0px;
    }
}

@media (max-width: 767px) {
    h2 {
        margin-bottom: 22px;
        font-size: 28px;
        line-height: 23px;
    }

    h4 {
        margin-bottom: 9px;
    }
    .button.red {
        margin-top: 18px;
    }

    .navbar {
        padding-top: 25px;
    }

    .home-hero {
        height: 50vh;
    }

    .section {
        padding: 35px 25px;
    }

    .section.home-intro {
        height: 60%;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .section.newsletter-section {
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    /*.home-slide-container {*/
        /*padding-top: 23%;*/
    /*}*/

    .home-slide-title {
        font-size: 8vw;
        line-height: 8vw;
    }

    .home-slide-title._2 {
        font-size: 3vw;
        line-height: 3vw;
    }

    .menu-button {
        width: 50px;
        height: 50px;
        margin-top: 0px;
        margin-right: 25px;
        padding-top: 14px;
    }

    .nav-link {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .service-title {
        font-size: 20px;
        line-height: 21px;
    }

    .container.centered {
        margin-bottom: 32px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .text-column-right {
        padding-left: 15px;
    }

    .footer {
        /*height: 100vh;*/
        padding-top: 35px;
    }

    .footer-icon-circle {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
        padding-top: 13px;
        padding-right: 13px;
        padding-left: 13px;
    }

    .list-item-white-title {
        margin-bottom: 9px;
        font-size: 13px;
    }

    .hamburger-icon {
        font-size: 40px;
        line-height: 24px;
    }

    .page-header-overlay {
        padding: 135px 25px 50px;
    }

    .page-header-overlay.transparant {
        padding-top: 135px;
        padding-bottom: 40px;
    }

    .page-header-overlay._404 {
        padding: 140px 25px;
    }

    .logo-container {
        padding-top: 12px;
        padding-left: 25px;
    }

    .logo-container.responsive-menu {
        padding-left: 0px;
    }

    .pricing-column {
        padding-right: 0px;
        padding-bottom: 15px;
        padding-left: 0px;
    }

    .white-section-title {
        font-size: 35px;
        line-height: 39px;
    }

    .white-section-title._2 {
        font-size: 21px;
        line-height: 23px;
    }

    .service-icon {
        height: 45px;
        margin-bottom: 16px;
    }

    .slider-button-left {
        width: 60px;
        height: 40px;
    }

    .slider-button-right {
        width: 60px;
        height: 40px;
        font-size: 12px;
    }

    .fixed-navbar-wrapper {
        margin-top: -18px;
        padding-bottom: 10px;
    }

    /*.slider-text-block {*/
        /*padding-right: 85px;*/
        /*padding-left: 85px;*/
        /*text-align: center;*/
    /*}*/

    .cta-title {
        font-size: 24px;
        line-height: 30px;
    }

    .cta-title.subtitle {
        font-size: 20px;
        line-height: 20px;
    }

    .feature-col {
        padding-right: 20px;
        padding-left: 0px;
    }

    .feature-row {
        margin-top: 4px;
    }

    .text-column-left {
        padding-right: 25%;
        padding-left: 0px;
    }

    .text-column-left.dont-miss {
        padding-right: 0%;
    }

    .home-section {
        padding-top: 45px;
        padding-right: 25px;
        padding-bottom: 45px;
    }

    .home-section.ourstory {
        padding-right: 10px;
        padding-left: 10px;
    }

    .home-container.centered {
        padding-right: 0px;
        padding-left: 0px;
    }

    .section-button-block-bottom {
        margin-top: 14px;
        padding-top: 6px;
    }

    .column-title {
        margin-bottom: 11px;
        padding-bottom: 11px;
        font-size: 28px;
        line-height: 31px;
        text-align: left;
    }

    .column-title.white {
        font-size: 24px;
    }

    .column-title.smaller {
        font-size: 24px;
        line-height: 26px;
    }

    .drinks-tab-pane {
        padding-top: 45px;
    }

    .feature-wrapper {
        padding-left: 0px;
    }

    .page-header-title {
        font-size: 40px;
        line-height: 35px;
    }

    .page-header-title.subtitle {
        font-size: 19px;
        line-height: 24px;
    }

    .experience-text-block {
        padding-right: 15px;
        padding-left: 15px;
    }

    .quote-title {
        font-size: 16px;
        line-height: 20px;
    }

    .quote-subtitle {
        font-size: 10px;
        line-height: 16px;
    }

    .experience-bottom-section-overlay {
        padding: 275px 25px 58px;
    }

    .faq-container {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .faq-title {
        margin-bottom: 18px;
        font-size: 28px;
    }

    .question-block {
        margin-bottom: 19px;
    }

    .faq-column {
        padding-left: 0px;
    }

    .image-section-overlay {
        padding: 18px 25px 35px;
    }

    .dancer-image {
        top: 224px;
        right: 13px;
        bottom: -19px;
        z-index: 1;
        height: 185px;
    }

    .newsletter-form {
        margin-bottom: 9px;
    }

    .newsletter-field {
        width: 100%;
    }

    .newsletter-button {
        width: 100%;
        margin-top: 3px;
    }

    .newsletter-col-left {
        padding-right: 18px;
        padding-bottom: 1px;
        padding-left: 0px;
    }

    .intro-image {
        left: -70px;
        bottom: -30px;
        height: 330px;
    }

    .image-background-section {
        background-size: cover;
    }

    .image-background-section.invite {
        background-size: auto;
    }

    .background-image-section-overlay {
        padding: 35px 25px;
        background-color: rgba(242, 242, 242, 0.49);
        background-image: -webkit-linear-gradient(left, #f2f2f2 14%, rgba(242, 242, 242, 0));
        background-image: linear-gradient(to right, #f2f2f2 14%, rgba(242, 242, 242, 0));
    }

    .background-image-section-overlay.invite {
        padding-bottom: 65px;
        font-size: 12px;
    }

    .background-image-section-overlay.fun-facts {
        background-color: rgba(242, 242, 242, 0.8);
    }

    .feature-icon-left {
        margin-right: 9px;
    }

    .invite-row {
        margin-bottom: 16px;
    }

    .upcoming-row {
        margin-bottom: 0px;
    }

    .upcoming-col-left {
        padding-right: 0px;
        padding-left: 0px;
    }

    .upcoming-col-right {
        padding-right: 0px;
        padding-left: 0px;
    }

    .upcoming-event-block {
        margin-bottom: 10px;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .facebook-image {
        height: 350px;
    }

    .gallery-slider {
        height: 200px;
    }

    .gallery-slider-nav {
        padding-right: 29px;
        padding-bottom: 31px;
    }

    .gallery-overlay {
        padding-top: 22%;
    }

    .gallery-slide-overlay {
        padding-right: 25px;
        padding-bottom: 44px;
        padding-left: 25px;
    }

    .gallery-slide-title {
        font-size: 14px;
        line-height: 17px;
    }

    .gallery-slide-title.subtitle {
        font-size: 12px;
    }

    .menu-title {
        font-size: 18px;
        line-height: 23px;
    }

    .menu-title.description {
        font-size: 12px;
        line-height: 22px;
    }

    .dancer-2-image {
        top: -56px;
        height: 245px;
    }

    .event-title {
        font-size: 19px;
        line-height: 23px;
    }

    .popup-block {
        width: 80%;
        margin-top: 50px;
    }

    .about-us-col-left {
        padding-left: 0px;
    }

    .about-us-image {
        top: -29px;
        height: 274px;
    }

    .faq-row {
        margin-top: 21px;
    }

    .faq-col-left {
        padding-left: 0px;
    }

    .faq-col-right {
        padding-left: 0px;
    }

    .team-tabs-menu {
        top: 70px;
        width: 200px;
    }

    .team-tabs-pane {
        height: 440px;
        padding-left: 105px;
    }

    .team-tab-image {
        width: 180px;
        height: auto;
    }

    .team-tab-title {
        font-size: 16px;
    }

    .team-tab-title._2 {
        margin-bottom: 16px;
        font-size: 21px;
        line-height: 23px;
    }

    .team-tab-button-title {
        margin-top: 10px;
        font-size: 11px;
    }

    .team-tab-button-image {
        width: 40px;
        height: 40px;
    }

    .team-tab-content-block {
        margin-top: 73px;
    }

    .faq-image {
        top: 20px;
        height: 260px;
    }

    .socialmediaimage {
        width: auto;
        height: 30px;
    }
}

@media (max-width: 479px) {
    body {
        font-size: 12px;
        line-height: 17px;
    }

    h2 {
        margin-bottom: 18px;
        font-size: 24px;
        line-height: 25px;
    }
    .button {
        margin-top: 3px;
    }

    .button.red {
        margin-top: 12px;
    }

    .navbar {
        padding-top: 0;
        padding-left: 10px;
    }

    .nav-menu {
        min-width: 190px;
    }

    .home-hero {
        height: 50vh;
    }

    .home-slider {
        height: 100%;
    }

    .section {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
    }

    .section.tint {
        height: 40vh;
    }

    .section.home-intro {
        padding: 25px 25px 9px;
    }

    .section.newsletter-section {
        padding-top: 25px;
        padding-right: 20px;
        padding-bottom: 25px;
    }

    .home-slide-title {
        font-size: 9vw;
        line-height: 10vw;
    }

    .home-slide-title._2 {
        font-size: 5vw;
        line-height: 6vw;
    }

    .menu-button {
        margin-right: 20px;
    }

    .menu-button.w--open {
        background-color: #d90246;
    }

    .nav-link {
        font-size: 15px;
        line-height: 11px;
    }

    .service-column {
        padding-right: 35px;
        padding-left: 35px;
    }

    .service-title {
        font-size: 17px;
        line-height: 18px;
    }

    .service-title.subtitle {
        margin-bottom: 14px;
        font-size: 12px;
    }

    .container.centered {
        margin-bottom: 23px;
    }

    .text-column-right {
        padding-left: 0px;
    }

    .bottom-footer-text {
        display: block;
    }

    .slider-arrow-icon {
        font-size: 15px;
    }

    .page-header-overlay {
        padding: 115px 20px 35px;
    }

    .page-header-overlay.transparant {
        padding-top: 105px;
        padding-bottom: 20px;
    }

    .logo-container {
        padding-left: 20px;
    }

    .logo-container.responsive-menu {
        display: block;
        padding-top: 35px;
        padding-bottom: 16px;
        padding-left: 0px;
    }

    .pricing-features-row {
        margin-top: 25px;
    }

    .pricing-features-column {
        padding-right: 15px;
        padding-left: 15px;
    }

    .pricing-block-title {
        font-size: 21px;
        line-height: 18px;
    }

    .pricing-block-list-item {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .pricing-block-item-title {
        margin-bottom: 6px;
        font-size: 17px;
    }

    .pricing-block-item-title.description.white {
        margin-bottom: 10px;
    }

    .white-section-title {
        margin-bottom: 11px;
        font-size: 24px;
        line-height: 25px;
    }

    .white-section-title._2 {
        font-size: 17px;
        line-height: 20px;
    }

    .slider-button-left {
        width: 40px;
        height: 30px;
    }

    .slider-button-right {
        width: 40px;
        height: 30px;
    }

    .fixed-navbar-wrapper {
        margin-top: -7px;
    }

    /*.slider-text-block {*/
        /*bottom: 39%;*/
        /*padding-right: 55px;*/
        /*padding-left: 55px;*/
    /*}*/

    .cta-title {
        font-size: 19px;
        line-height: 24px;
    }

    .cta-title.subtitle {
        font-size: 17px;
    }

    .feature-col {
        padding-right: 0px;
        padding-bottom: 5px;
    }

    .text-column-left {
        padding-right: 10%;
    }

    .home-section {
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 25px;
    }

    .column-title {
        font-size: 21px;
        line-height: 24px;
    }

    .arrow-icon {
        height: 20px;
    }

    .section-tooltip {
        font-size: 11px;
    }

    .drink-tabs-menu {
        position: static;
        width: 100%;
        margin-bottom: 15px;
    }

    .drinks-tab-pane {
        width: 100%;
        padding-top: 60px;
        float: none;
    }

    .drink-tab-button {
        padding-top: 6px;
        padding-bottom: 5px;
    }

    .page-header-title {
        margin-bottom: 12px;
        font-size: 29px;
        line-height: 27px;
    }

    .page-header-title.subtitle {
        font-size: 17px;
        line-height: 20px;
    }

    .field {
        height: 38px;
        font-size: 12px;
    }

    .quote-title {
        font-size: 19px;
        line-height: 23px;
    }

    .quote-subtitle {
        font-size: 11px;
        line-height: 17px;
    }

    .experience-bottom-section {
        background-position: 50% 0px;
    }

    .faq-title {
        font-size: 26px;
        line-height: 30px;
    }

    .feature-icon {
        height: 40px;
        margin-bottom: 16px;
    }

    .text-logo {
        font-size: 27px;
        line-height: 15px;
    }

    .text-logo.subtitle {
        font-size: 10px;
    }

    .image-section-overlay {
        padding-bottom: 25px;
    }

    .icon-wrapper {
        height: 90px;
        margin-right: 15px;
        padding-top: 18px;
        padding-right: 15px;
    }

    .stats-icon {
        height: 51px;
    }

    .stat-title {
        font-size: 35px;
        line-height: 41px;
    }

    .dancer-image {
        position: static;
        width: 100%;
        height: auto;
        margin-top: -41px;
        margin-bottom: -12px;
    }

    .newsletter-col-left {
        padding-right: 0px;
    }

    .intro-image {
        position: static;
        width: 100%;
        height: auto;
        margin-top: 12px;
    }

    .background-image-section-overlay {
        padding: 25px 20px;
        background-image: -webkit-linear-gradient(left, #f2f2f2 42%, rgba(242, 242, 242, 0));
        background-image: linear-gradient(to right, #f2f2f2 42%, rgba(242, 242, 242, 0));
    }

    .background-image-section-overlay.invite {
        padding-bottom: 15px;
        background-color: rgba(242, 242, 242, 0.9);
    }

    .background-image-section-overlay.pricing {
        padding-bottom: 10px;
    }

    .fixed-buttons-bottom-right {
        right: 10px;
        bottom: 10px;
    }

    .fixed-button {
        padding: 15px;
    }

    .fixed-button-title {
        font-size: 17px;
    }

    .fixed-button-title.subtitle {
        font-size: 10px;
        line-height: 5px;
    }

    .upcoming-event-overlay-block {
        width: 60%;
        padding: 20px;
    }

    .facebook-image {
        position: static;
        height: auto;
        margin-bottom: -85px;
        margin-left: -8px;
    }

    .gallery-slide-title {
        font-size: 16px;
        line-height: 18px;
    }

    .menu-list-item {
        margin-bottom: 9px;
        padding-bottom: 9px;
    }

    .menu-title {
        font-size: 15px;
    }

    .menu-title.description {
        font-size: 12px;
        line-height: 16px;
    }

    .tab-title {
        font-size: 13px;
    }

    .dancer-2-image {
        position: static;
    }

    .title-wrapper-block {
        width: 100%;
    }

    .event-title {
        font-size: 15px;
        line-height: 20px;
    }

    .event-info-block {
        display: block;
        margin-right: 0px;
        margin-bottom: 2px;
    }

    .popup-block {
        margin-top: 20px;
    }

    .popup-title {
        font-size: 20px;
        line-height: 29px;
    }

    .popup-title.subtitle {
        font-size: 16px;
        line-height: 20px;
    }

    .popup-content-block {
        padding: 15px 25px;
    }

    .popup-form {
        padding: 25px;
    }

    .close-popup-button {
        top: 0px;
        right: 0px;
        width: 30px;
        height: 30px;
        padding-top: 5px;
    }

    .about-us-col-left {
        padding-right: 0px;
    }

    .about-us-image {
        position: static;
    }

    .team-tabs-menu {
        position: relative;
        top: 0px;
        width: 100%;
        float: none;
    }

    .team-tabs-pane {
        height: auto;
        padding-top: 15px;
        padding-left: 0px;
    }

    .team-tab-button {
        margin-bottom: 2px;
        background-color: rgba(240, 240, 240, 0.8);
    }

    .team-tab-image {
        width: 120px;
        margin-top: 29px;
        margin-bottom: 47px;
    }

    .team-tab-button-title {
        margin-top: 6px;
        font-size: 13px;
    }

    .team-tab-button-image {
        width: 30px;
        height: 30px;
        margin-right: 13px;
    }

    .team-tab-content-block {
        margin-top: 0px;
    }

    .faq-image {
        position: static;
    }

    .stats-col {
        padding-bottom: 7px;
        padding-left: 0px;
    }

    .tabcontentservices {
        position: relative;
    }
}

.nav-link.drop {
    margin-left: 11px;
    padding-top: 6px;
}


.centred {
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
    font-family: Oswald, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    width: 100%;
    background-color: black;
}

.navbar a {
    color: white;
}

.navbar a:active {
    color: #f7e734;
}
.navbar a:hover {
    color: #f7e734;
}

.navbar li:hover {
    color: #f7e734;
}


a.navbar-brand {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
}

a.navbar-brand {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
}

#revo-logo{
    color: #f7e734;
    padding-right: 0px;
    margin-right: 0px;
}


.modal-title {
    color: black;
}
.modal-body{
    color: black;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 5px;
    background-color: #f7e734;

}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 7px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #ccc;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


@media (max-width: 767px) {
    .navbar {
        background-color: #5cb85c
    }

}

.navbar-brand {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 768px){
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
}