.tooltip-div{
    width:200px;
    /*margin:50px;*/
    -webkit-box-shadow: -4px 7px 39px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: -4px 7px 39px 3px rgba(0,0,0,0.3);
    box-shadow: -4px 7px 39px 3px rgba(0,0,0,0.3);
    border: solid;
    border-color: #808080;
    border-width: 1px;
    background-color: white;
    position:absolute;
    display:none;
    z-index:1000;
}
.tooltip-heading{
    background-color:#65c93e ;
    padding: 3px;
    width:100%;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.tooltip-body{
    padding: 10px;
}

.tooltip-body-div{
    width:100%;
    padding:5px;
    clear: both;
    overflow: auto;
    font-size: 10px;
    line-height: 110%;
}

.tooltip-body-left-div{
    width: 50%;
    float: left;
    padding-bottom: 5px;
}

.tooltip-body-right-div{
    width:50%;
    float: right;
    padding-bottom: 5px;
}

.tooltip-payment-div{
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #65c93e;
    color: white;
}

hr {
    margin: 0;
    clear: both;
}