<p class="input-group">
    <input type="text" class="form-control" datepicker-options="options" uib-datepicker-popup="{{format}}" ng-model="dt"
           is-open="status.opened"
           min-date="minDate"
           max-date="maxDate"
           datepicker-options="dateOptions"
           date-disabled="disabled(date, mode)"
           ng-required="true"
           show-weeks="false"
           starting-day="1"
           show-button-bar="false"
           close-text="Close"/>
    <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="open($event)"><i
            class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>