<!--<div class="w-section ourstory" id="OurPrices">-->
    <!--<div class="w-container home-container" >-->
<div class="row w-hidden-tiny priceMenu">
    <div class="w-tabs menu-tabs">
        <div class="w-tab-menu drink-tabs-menu" >
            <div ng-repeat="level_1_category in top_level_categories">
                <div class="column-title white forher">{{level_1_category.name}}...</div>
                <div ng-repeat="level_2_category in level_1_category.subcategories" ng-click="unselect_all(top_level_categories);level_2_category.selected = true">
                    <a class="w-tab-link w-inline-block drink-tab-button" ng-class="{'w--current':level_2_category.selected}">
                        <div class="tab-title">{{level_2_category.name}}</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-tab-content w-clearfix tabcontentservices">
            <div ng-repeat="level_1_category in top_level_categories">
                <div  ng-repeat="level_2_category in level_1_category.subcategories" ng-if="level_2_category.selected">
                    <div class="drinks-tab-pane">
                        <div class="w-list-unstyled menu-list">
                            <ul class="w-list-unstyled menu-list" >
                                <li class="w-clearfix menu-list-item" ng-class="{'service_selected':service.selected}" ng-repeat="service in level_2_category.services" ng-click="on_click_service(service)" >
                                    <div class="menu-price">£{{service.price}}</div>
                                    <div class="menu-title">{{service.name}}</div>
                                    <div class="menu-title description">{{service.minutes}} mins</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row  hidden-lg hidden-md hidden-sm w-hidden-small priceMenu" >
    <div ng-repeat="level_1_category in top_level_categories">
        <div class="column-title white forher">{{level_1_category.name}}...</div>
        <div ng-repeat="level_2_category in level_1_category.subcategories">
            <!--<a class="{{subcategory.subcategory_css_class}}">-->
            <div class="w-tab-link w-inline-block drink-tab-button"  ng-click="level_2_category.selected = !level_2_category.selected" ng-class="{'w--current':level_2_category.selected}">{{level_2_category.name}} </div>
            <!--</a>-->
            <div class="drinks-tab-pane">
                <div class="w-list-unstyled menu-list" >
                    <ul class="w-list-unstyled menu-list" ng-show="level_2_category.selected" style="margin-bottom: 20px">
                        <li class="w-clearfix menu-list-item " ng-class="{'service_selected':service.selected}" ng-repeat="service in level_2_category.services" ng-click="on_click_service(service)" >
                            <div class="menu-price">£{{service.price}}</div>
                            <div class="menu-title">{{service.name}}</div>
                            <div class="menu-title description">{{service.minutes}} mins</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--</div>-->
<!--</div>-->
