<div class="w-container home-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <label class="column-title white forher">Your Appointments:</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1" >
            <div ng-repeat="appointment in bookings_ctl.bookings" >
                <div style="float:right;">
                    <button class="btn btn-danger btn-lg" ng-click="bookings_ctl.cancel_bookings(appointment.id)" confirm='Are you sure you want to cancel?'> Cancel </button>
                </div>
                <!--<div class="booking-subheader right" style="float:right; margin-right: 5px">-->
                    <!--<button class="btn btn-warning btn-lg"> Amend </button>-->
                <!--</div>-->
                <div class="appointment-title" style="">
                    Kingscross - {{(bookings_ctl.convert_date_string(appointment.start_time) | date:'h:mma')}}
                    on {{(bookings_ctl.convert_date_string(appointment.start_time) | date:'dd/MM/yyyy')}}
                </div>
                <div class="appointment-subtitle">Booking Reference: REVOKXBKR{{appointment.id}}
                </div>
                <hr class="appointment-divider" ng-hide="$last">
            </div>
        </div>
    </div>
</div>