<div class="agenda-heading-div" ng-show="show_user_selected_form">
    <div class="row">
        <div class="col-xs-4">
            <strong>{{selected_customer.first_name || ""}} {{selected_customer.last_name || ""}}</strong>
        </div>
        <div class="col-xs-4" >
            <a ng-click="open_edit_client_form()" href="">Edit Customer</a>
        </div>
        <div class="col-xs-4" >
            <a ng-click="show_user_selected_form = false; show_search_user_form = true; show_edit_client_form = false" href="">Change Customer</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <span class="glyphicon glyphicon-earphone"> </span> {{selected_customer.mobile || ""}}
        </div>
        <div class="col-xs-8">
            <span class="glyphicon glyphicon-envelope"> </span> {{selected_customer.email || ""}}
        </div>
    </div>
</div>
<div class="agenda-heading-div" ng-show="show_search_user_form">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <strong>Search for Client</strong>
            </div>
            <div class="form-group has-feedback" style="margin-bottom: 0;width:70%;float: left">
                <input
                        type="text"
                        class="form-control"
                        style="width: 100%"
                        ng-model="search_terms"
                        ng-change="filter_options(search_terms, existing_customers)"
                        ui-keypress="{enter: 'add_customer_on_enter()'}"
                        ng-focus="show_pop_over()"
                        ng-blur="hide_pop_over()"
                        placeholder="Search by name, number or email">
                <i style="font-size: 10px" class="glyphicon glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <div>
                <button class="btn btn-default" style="float: right; width:25%"
                        ng-click="open_create_new_form()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add New
                </button>
            </div>
        </div>
    </div>
    <div class="search-customer-div pop-over-div" ng-show="pop_over_is_visible"  >
        <div  ng-repeat="customer in filtered_customers | limitTo:20 | orderBy: 'first_name'" ng-mousedown="select_customer(customer)">
            <div class="row">
                <div class="col-xs-12">
                    {{customer.first_name}} {{customer.last_name}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <em>{{customer.email}} </em>
                </div>
                <div class="col-sm-6">
                    <em>{{customer.mobile}}</em>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
<div ng-show="show_new_client_form">
    <div style="background-color: #64c83e; padding-top:3px; height: 30px; text-align: center; color: white">
        <strong>Add New Client</strong>
    </div>
    <div class="agenda-heading-div" >
        <div class="row">
            <div class="col-xs-6 agenda-col-left">
                <div>
                    <label for="first_name">First Name</label>
                    <input id="first_name" class="agenda-text-input form-control" type="text" ng-model="new_customer.first_name">
                </div>
            </div>
            <div class="col-xs-6 agenda-col-right">
                <div >
                    <label for="email">Last Name</label>
                    <input id="last_name"  class="agenda-text-input form-control" type="text" ng-model="new_customer.last_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <label for="email">Email</label>
                    <input id="email"  class="agenda-text-input form-control" type="text" ng-model="new_customer.email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 agenda-col-left">
                <div >
                    <label for="phone">Phone</label>
                    <input id="phone"  class="agenda-text-input form-control" type="text" ng-model="new_customer.mobile">
                </div>
            </div>
            <!--<div class="col-xs-6 agenda-col-right">-->
                <!--<div >-->
                    <!--<label for="dob">Date of Birth</label>-->
                    <!--<input id="dob"  class="agenda-text-input form-control" type="text" ng-model="new_customer.dob">-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="row" style="margin-top: 10px">
            <!--<div class="col-xs-4" >-->
                <!--<label style="float: left;margin-right: 10px">Gender</label>-->
                <!--<input type="radio" name="gender" value="male" class="agenda-radio" ng-model="new_customer.gender"> Male-->
                <!--<input type="radio" name="gender" value="female" class="agenda-radio" ng-model="new_customer.gender"> Female-->
            <!--</div>-->
            <div class="col-xs-12">
                <input type="checkbox" style="float: left;margin-right: 10px" ng-model="new_customer.receive_promotions">
                <label style="float: left;">Wants to receive promotional emails/texts?</label>
            </div>
        </div>
        <!--<hr>-->
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<label for="notes">Notes</label>-->
                <!--<textarea id = "notes" style="width: 100%" ng-model="new_customer.comments"></textarea>-->
            <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <div class="row">
            <div class="col-xs-12">
                <div style="margin-top:10px; float: left;color: red">
                    {{error_message}}
                </div>
                <button class="btn btn-success agenda-button"
                    ng-click="save_new_customer() ">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save
                </button>
                <button class="btn btn-default agenda-button"
                        style="margin-right: 20px"
                        ng-click="show_new_client_form = false">
                    <span class="glyphicon glyphicon glyphicon-remove" ></span>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<div ng-show="show_edit_client_form">
    <div style="background-color: #64c83e; padding-top:3px; height: 30px; text-align: center; color: white">
        <strong>Edit Client</strong>
    </div>
    <div class="agenda-heading-div" >
        <div class="row">
            <div class="col-xs-6 agenda-col-left">
                <div>
                    <label for="edit_first_name">First Name</label>
                    <input id="edit_first_name" class="agenda-text-input form-control" type="text" ng-model="edit_customer.first_name">
                </div>
            </div>
            <div class="col-xs-6 agenda-col-right">
                <div >
                    <label for="edit_email">Last Name</label>
                    <input id="edit_last_name"  class="agenda-text-input form-control" type="text" ng-model="edit_customer.last_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <label for="edit_email">Email</label>
                    <input id="edit_email"  class="agenda-text-input form-control" type="text" ng-model="edit_customer.email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 agenda-col-left">
                <div >
                    <label for="edit_phone">Phone</label>
                    <input id="edit_phone"  class="agenda-text-input form-control" type="text" ng-model="edit_customer.mobile">
                </div>
            </div>
            <!--<div class="col-xs-6 agenda-col-right">-->
                <!--<div >-->
                    <!--<label for="edit_dob">Date of Birth</label>-->
                    <!--<input id="edit_dob"  class="agenda-text-input form-control" type="text" ng-model="edit_customer.dob">-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="row" style="margin-top: 10px">
            <!--<div class="col-xs-4" >-->
                <!--<label style="float: left;margin-right: 10px">Gender</label>-->
                <!--<input type="radio" name="edit_gender" value="male" class="agenda-radio" ng-model="edit_customer.gender"> Male-->
                <!--<input type="radio" name="edit_gender" value="female" class="agenda-radio" ng-model="edit_customer.gender"> Female-->
            <!--</div>-->
            <div class="col-xs-6">
                <input type="checkbox" style="float: left;margin-right: 10px" ng-model="edit_customer.receive_promotions">
                <label style="float: left;">Wants to receive promotional emails/texts?</label>
            </div>
        </div>
        <!--<hr>-->
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<label for="edit_notes">Notes</label>-->
                <!--<textarea id = "edit_notes" style="width: 100%" ng-model="edit_customer.comments"></textarea>-->
            <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success agenda-button"
                        ng-click="update_existing_customer() ">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save
                </button>
                <button class="btn btn-default agenda-button"
                        style="margin-right: 20px"
                        ng-click="show_edit_client_form = false">
                    <span class="glyphicon glyphicon glyphicon-remove" ></span>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
