<div class="w-container home-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <label class="column-title white forher">Reset Password</label>
            <password-reset-confirmation-form></password-reset-confirmation-form>
        </div>
    </div>
</div>