<label class="column-title white forher"> Choose Appointment: </label>
<div class="w-row">
    <div class="w-col w-col-6 ">
        <div class="w-row">
            <time-selection
                    seldatetime="seldatetime"
                    onupdate="get_available_booking_slots"
            ></time-selection>
        </div>
        <div class="w-row">
            <date-selection
                    seldatetime="seldatetime"
                    onupdate="get_available_booking_slots"
            ></date-selection>
        </div>
    </div>
    <div class="w-col w-col-6 ">
        <div class="w-row">
            <booking-slot-selection
                    seldatetime = "seldatetime"
                    bookingslots = "bookingslots"
                    duration="duration"
                    selslot="selslot"
            ></booking-slot-selection>
        </div>
    </div>
</div>

<div class="w-row">
    <button type="button" id="bookButton" class="btn btn-success ng-pristine" ng-click="continue()">
        Continue
    </button>
</div>