<h4>Desired Date</h4>
<div style="display:inline-block; min-height:290px;">
    <uib-datepicker ng-model="dt" ng-click="onDateClick()" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
</div>