<h4>Available slots on {{seldatetime | date:'EEEE (dd/MM/y)'}}</h4>
<div>
    <div ng-show="(bookingslots.length==0)">
        <div class="menu-title">No Available Appointments</div>
    </div>
    <div class="w-list-unstyled menu-list">
        <ul class="w-list-unstyled menu-list" >
            <li class="w-clearfix menu-list-item" ng-repeat="booking_slot in bookingslots | limitTo: 7 | orderBy: 'start'" ng-class="{'appointment_selected':(booking_slot.selected)}" ng-click="select_booking_slot(booking_slot)">
                <div class="menu-price"
                >SELECT</div>
                <div  class="menu-title">{{date_string_to_date(booking_slot.start) | date: "hh:mm a (dd/MM/y)" }}</div>
                <div class="menu-title description">{{duration}} mins</div>
            </li>
        </ul>
    </div>
</div>