<div class="w-container home-container">
    <booking-select-slot shop="booking_ctl.shop" redirect="app.customer.booking_select_services" next="app.customer.booking_overview"></booking-select-slot>
</div>