<div class="w-container home-container">
    <booking-overview shop="booking_ctl.shop"
                    redirect="app.customer.booking_select_services"
                    success="app.customer.booking_confirmation"
                    error="app.customer.booking_problem">
    </booking-overview>
</div>
